p { line-height: 115%; text-align: left; orphans: 2; widows: 2; margin-bottom: 0.1in; direction: ltr; background: transparent }
p.western { font-size: 12pt }
p.cjk {  font-size: 12pt }
p.ctl { font-size: 12pt }
h1 { text-align: left; orphans: 2; widows: 2; margin-top: 0.19in; margin-bottom: 0.19in; direction: ltr; background: transparent }
h1.western { font-size: 24pt; font-weight: bold }
h1.cjk {  font-size: 24pt; font-weight: bold }
h1.ctl { font-size: 24pt; font-weight: bold }
h3 { text-align: left; orphans: 2; widows: 2; margin-top: 0.19in; margin-bottom: 0.19in; direction: ltr; background: transparent }
h3.western { font-size: 13pt; font-weight: bold }
h3.cjk {  font-size: 13pt; font-weight: bold }
h3.ctl { font-size: 13pt; font-weight: bold }