<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>CGU</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cgu</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1
    class="western"
    align="center"
    style="margin-top: 0in; margin-bottom: 0.1in; background: #ffffff"
  >
    <font face="Arial, serif"
      ><font size="5" style="font-size: 16pt"
        >CONDITIONS GÉNÉRALES D'UTILISATION</font
      ></font
    >
  </h1>
  <h3
    class="western"
    style="
      line-height: 0.21in;
      margin-top: 0.23in;
      margin-bottom: 0.1in;
      background: #ffffff;
    "
  >
    <font color="#000000"
      ><font face="Arial, serif"
        ><font size="3" style="font-size: 11pt"
          >Article 1 - Définitions</font
        ></font
      ></font
    >
  </h3>
  <p
    class="western"
    style="line-height: 0.21in; margin-bottom: 0in; background: #ffffff"
  >
    <font face="Arial, serif"
      ><font size="2" style="font-size: 9pt"
        >On désignera par la suite:<br />
        <br />
        - 'Application' : l'application Dyspo et l'ensemble de ses pages et
        écrans<br />
        - 'Editeur' : La personne, morale ou physique, responsable de l'édition
        et du contenu de l'application<br />
        - 'Utilisateur' : Le mobinaute visitant et utilisant l'application</font
      ></font
    >
  </p>
  <h3
    class="western"
    style="
      line-height: 0.21in;
      margin-top: 0.23in;
      margin-bottom: 0.1in;
      background: #ffffff;
    "
  >
    <font color="#000000"
      ><font face="Arial, serif"
        ><font size="3" style="font-size: 11pt"
          >Article 2 - Mentions imposées par la loi de confiance dans l’économie
          numérique et objet de l'application</font
        ></font
      ></font
    >
  </h3>
  <p
    class="western"
    style="line-height: 0.21in; margin-bottom: 0in; background: #ffffff"
  >
    <font face="Arial, serif"
      ><font size="2" style="font-size: 9pt"
        >La présente application est éditée par SAS KOMPOT SAS.<br />
        <br />
        Les informations légales concernant l'éditeur de l'application,
        notamment les coordonnées et les éventuelles informations de capital et
        d'immatriculation, sont fournies dans les mentions légales de
        l'application.<br />
        <br />
        Les informations concernant la collecte et le traitement des données
        personnelles (politique et déclaration) sont fournies dans la charte de
        données personnelles de l'application.<br />
        <br />
        <br />
        L'utilisation de l'application suppose l’acceptation, par l'utilisateur,
        de l’intégralité des présentes conditions générales, qu'il reconnaît du
        même fait en avoir pris pleinement connaissance. Cette acceptation sera
        réputée avoir la même valeur qu’une signature manuscrite de la part de
        l'utilisateur. L'utilisateur reconnaît la valeur de preuve des systèmes
        d’enregistrement automatique de l’éditeur de l'application et, sauf pour
        lui d’apporter une preuve contraire, il renonce à les contester en cas
        de litige.<br />
        <br />
        L’acceptation des présentes conditions générales suppose de la part des
        utilisateurs qu’ils jouissent de la capacité juridique nécessaire pour
        cela. Si l'utilisateur est mineur ou ne dispose pas de cette capacité
        juridique, il déclare avoir l’autorisation d’un tuteur, d’un curateur ou
        de son représentant légal.</font
      ></font
    >
  </p>
  <h3
    class="western"
    style="
      line-height: 0.21in;
      margin-top: 0.23in;
      margin-bottom: 0.1in;
      background: #ffffff;
    "
  >
    <font color="#000000"
      ><font face="Arial, serif"
        ><font size="3" style="font-size: 11pt"
          >Article 3 - Compte dans l'application</font
        ></font
      ></font
    >
  </h3>
  <p
    style="
      line-height: 0.17in;
      margin-top: 0.08in;
      margin-bottom: 0.17in;
      background: #ffffff;
    "
  >
    <font face="Arial, serif"
      ><font size="2" style="font-size: 9pt"
        >L’utilisateur créant un compte sur l'application (membre) a la
        possibilité d’y accéder en se connectant grâce aux identifiants fournis
        lors de son inscription et en utilisant des systèmes tels que des
        boutons de connexion tiers de réseaux sociaux. L’utilisateur est
        entièrement responsable de la protection du mot de passe qu’il a choisi.
        Il est encouragé à utiliser des mots de passe complexes. En cas d’oubli
        de mot de passe, le membre a la possibilité d’en générer un nouveau. Ce
        mot de passe constitue la garantie de la confidentialité des
        informations contenues dans son compte et l'utilisateur s'interdit donc
        de le transmettre ou de le communiquer à un tiers. A défaut, l'éditeur
        de l'application ne pourra être tenu pour responsable des accès non
        autorisés au compte d'un utilisateur. L’éditeur se réserve le droit
        exclusif de supprimer le compte de tout membre qui aurait contrevenu aux
        présentes conditions générales (notamment mais sans que cet exemple
        n’ait un quelconque caractère exhaustif, lorsque le membre aura fourni
        sciemment des informations erronées, lors de son inscription) ou encore
        tout compte inactif depuis au moins une année. Ladite suppression ne
        sera pas susceptible de constituer un dommage pour le membre exclu qui
        ne pourra prétendre à aucune indemnité de ce fait. Cette exclusion n’est
        pas exclusive de la possibilité, pour l’éditeur, d’entreprendre des
        poursuites d’ordre judiciaire à l’encontre du membre, lorsque les faits
        l’auront justifié. Chaque membre est libre de fermer son compte. Pour
        ceci, le membre doit adresser un e-mail à l'éditeur indiquant qu’il
        souhaite supprimer son compte. Aucune récupération de ses données ne
        sera alors possible.</font
      ></font
    >
  </p>
  <h3
    class="western"
    style="
      line-height: 0.21in;
      margin-top: 0.23in;
      margin-bottom: 0.1in;
      background: #ffffff;
    "
  >
    <font color="#000000"
      ><font face="Arial, serif"
        ><font size="3" style="font-size: 11pt"
          >Article 4 - Exonération de la responsabilité de l’éditeur dans le
          cadre de l’exécution du présent contrat</font
        ></font
      ></font
    >
  </h3>
  <p
    class="western"
    style="line-height: 0.21in; margin-bottom: 0in; background: #ffffff"
  >
    <font face="Arial, serif"
      ><font size="2" style="font-size: 9pt"
        >En cas d’impossibilité d’accès à l'application, en raison de problèmes
        techniques ou de toutes natures, l'utilisateur ne pourra se prévaloir
        d’un dommage et ne pourra prétendre à aucune indemnité.<br />
        <br />
        Les liens hypertextes présents sur l'application peuvent renvoyer sur
        d'autres applications ou sur des sites internet et la responsabilité de
        l’éditeur de l'application ne saurait être engagée si le contenu de ces
        sites et applications contrevient aux législations en vigueur. De même
        la responsabilité de l’éditeur ne saurait être engagée si l'utilisation
        de ces sites ou applications, par l'utilisateur, lui causait un
        préjudice.</font
      ></font
    >
  </p>
  <h3
    class="western"
    style="
      line-height: 0.21in;
      margin-top: 0.23in;
      margin-bottom: 0.1in;
      background: #ffffff;
    "
  >
    <font color="#000000"
      ><font face="Arial, serif"
        ><font size="3" style="font-size: 11pt"
          >Article 5 - Droits de propriété intellectuelle relatifs aux éléments
          de l'application</font
        ></font
      ></font
    >
  </h3>
  <p
    style="
      line-height: 0.17in;
      margin-top: 0.08in;
      margin-bottom: 0.17in;
      background: #ffffff;
    "
  >
    <font face="Arial, serif"
      ><font size="2" style="font-size: 9pt"
        >Tous les éléments de l'application appartiennent à l'éditeur ou à un
        tiers mandataire, ou sont utilisés par l'éditeur avec l'autorisation de
        leur propriétaire. Toute copie des logos, contenus textuels,
        pictographiques ou vidéos, sans que cette énumération ne soit
        limitative, est rigoureusement interdite et s’apparente à de la
        contrefaçon. Tout membre qui se rendrait coupable de contrefaçon serait
        susceptible de voir son compte supprimé sans préavis ni indemnité et
        sans que cette suppression ne puisse lui être constitutive d’un dommage,
        sans réserve d’éventuelles poursuites judiciaires ultérieures à son
        encontre, à l’initiative de l’éditeur de l'application ou de son
        mandataire.</font
      ></font
    >
  </p>
  <h3
    class="western"
    style="
      line-height: 0.21in;
      margin-top: 0.23in;
      margin-bottom: 0.1in;
      background: #ffffff;
    "
  >
    <font color="#000000"
      ><font face="Arial, serif"
        ><font size="3" style="font-size: 11pt"
          >Article 6 - Contribution des utilisateurs au contenu
        </font></font
      ></font
    >
  </h3>
  <p
    style="
      line-height: 0.17in;
      margin-top: 0.08in;
      margin-bottom: 0.17in;
      background: #ffffff;
    "
  >
    <font face="Arial, serif"
      ><font size="2" style="font-size: 9pt"
        >Les utilisateurs se voient offrir la faculté de contribuer aux contenus
        accessibles par l'application, par la publication de commentaires. Les
        contributeurs sont informés que l’éditeur, représenté le cas échéant par
        les modérateurs, peut choisir de publier la contribution en question sur
        les newsletters de l'application et sur les sites de tous ses
        partenaires, à charge pour l’éditeur de citer le pseudonyme de l’auteur
        de la contribution. L’auteur renonce donc à ses droits sur le contenu
        des contributions, au profit de l’éditeur, pour toute diffusion ou
        utilisation, même commerciale et ceci, bien évidemment, toujours dans le
        respect de la paternité de l’auteur.</font
      ></font
    >
  </p>
  <h3
    class="western"
    style="
      line-height: 0.21in;
      margin-top: 0.23in;
      margin-bottom: 0.1in;
      background: #ffffff;
    "
  >
    <font color="#000000"
      ><font face="Arial, serif"
        ><font size="3" style="font-size: 11pt">Article 7 - Marques</font></font
      ></font
    >
  </h3>
  <p
    style="
      line-height: 0.17in;
      margin-top: 0.08in;
      margin-bottom: 0.17in;
      background: #ffffff;
    "
  >
    <font face="Arial, serif"
      ><font size="2" style="font-size: 9pt"
        >Les marques et logos contenus dans l'application sont déposés par SAS
        SP MEDIAS, ou éventuellement par un de ses partenaires. Toute personne
        procédant à leurs représentations, reproductions, imbrications,
        diffusions et rediffusions encourt les sanctions prévues aux articles
        L.713-2 et suivants du Code de la propriété intellectuelle.</font
      ></font
    >
  </p>
  <h3
    class="western"
    style="
      line-height: 0.21in;
      margin-top: 0.23in;
      margin-bottom: 0.1in;
      background: #ffffff;
    "
  >
    <font color="#000000"
      ><font face="Arial, serif"
        ><font size="3" style="font-size: 11pt"
          >Article 8 - Limitation de responsabilité</font
        ></font
      ></font
    >
  </h3>
  <p
    style="
      line-height: 0.17in;
      margin-top: 0.08in;
      margin-bottom: 0.17in;
      background: #ffffff;
    "
  >
    <font face="Arial, serif"
      ><font size="2" style="font-size: 9pt"
        >L'éditeur de l'application, notamment dans le processus de vente en
        ligne, n’est tenu que par une obligation de moyens ; sa responsabilité
        ne pourra être engagée pour un dommage résultant de l'application tel
        que perte de données, intrusion, virus, rupture du service, ou autres.
        L'éditeur de l'application, SAS SP MEDIAS, ne saurait être tenu pour
        responsable de l'inexécution du contrat conclu, due à la survenance d'un
        événement de force majeure et notamment en cas de catastrophes causées
        par inondations ou incendies. L'utilisateur admet expressément utiliser
        l'application à ses propres risques et sous sa responsabilité exclusive.
        L'application fournit à l'utilisateur des informations à titre
        indicatif, avec des imperfections, erreurs, omissions, inexactitudes et
        autres ambivalences susceptibles d'exister. En tout état de cause, SAS
        SP MEDIAS ne pourra en aucun cas être tenu responsable :<br />
        - de tout dommage direct ou indirect, notamment en ce qui concerne les
        pertes de profits, le manque à gagner, les pertes de clientèle, de
        données pouvant entre autres résulter de l'utilisation de l'application,
        ou au contraire de l'impossibilité de son utilisation<br />
        - d'un dysfonctionnement, d'une indisponibilité d'accès, d'une mauvaise
        utilisation, d'une mauvaise configuration du périphérique de
        l'utilisateur, ou encore de l'emploi d'un périphérique peu usité ou
        obsolète par l'utilisateur<br />
        - du contenu des publicités et autres liens ou sources externes
        accessibles par l'utilisateur à partir de l'application</font
      ></font
    >
  </p>
  <h3
    class="western"
    style="
      line-height: 0.21in;
      margin-top: 0.23in;
      margin-bottom: 0.1in;
      background: #ffffff;
    "
  >
    <font color="#000000"
      ><font face="Arial, serif"
        ><font size="3" style="font-size: 11pt"
          >Article 9 - Accès à l'application par connexion Internet</font
        ></font
      ></font
    >
  </h3>
  <p
    class="western"
    style="line-height: 0.21in; margin-bottom: 0in; background: #ffffff"
  >
    <font face="Arial, serif"
      ><font size="2" style="font-size: 9pt"
        >La responsabilité de l'éditeur ne peut être engagée en raison d'une
        indisponibilité technique de la connexion, qu'elle soit due notamment à
        un cas de force majeure, à une maintenance, à une mise à jour, à une
        modification, à une intervention de l'hébergeur, à une grève interne ou
        externe, à une panne de réseau, à une coupure d'alimentation électrique,
        ou encore à une mauvaise configuration ou utilisation du périphérique de
        l'utilisateur.</font
      ></font
    >
  </p>
  <h3
    class="western"
    style="
      line-height: 0.21in;
      margin-top: 0.23in;
      margin-bottom: 0.1in;
      background: #ffffff;
    "
  >
    <font color="#000000"
      ><font face="Arial, serif"
        ><font size="3" style="font-size: 11pt"
          >Article 10 - Clauses diverses</font
        ></font
      ></font
    >
  </h3>
  <p
    style="
      line-height: 0.17in;
      margin-top: 0.08in;
      margin-bottom: 0.17in;
      background: #ffffff;
    "
  >
    <font face="Arial, serif"
      ><font size="2" style="font-size: 9pt"
        >Les présentes conditions générales sont soumises à l’application du
        droit Français. Elles peuvent être modifiées à tout moment par l’éditeur
        ou son mandataire. Les conditions générales applicables à l’utilisateur
        sont celles en vigueur au jour de son achat ou de sa connexion sur
        l'application. L’éditeur s’engage bien évidemment à conserver toutes ses
        anciennes conditions générales et à les faire parvenir à tout
        utilisateur qui en ferait la demande. Sauf dispositions d’ordre public,
        tous litiges qui pourraient survenir dans le cadre de l’exécution des
        présentes conditions générales pourront avant toute action judiciaire
        être soumis à l’appréciation de l’éditeur en vue d’un règlement amiable.
        Il est expressément rappelé que les demandes de règlement amiable ne
        suspendent pas les délais ouverts pour intenter les actions judiciaires.
        Sauf disposition contraire, d’ordre public, toute action judiciaire
        relative à l’exécution du présent contrat devra être soumise à la
        compétence des juridictions du ressort de la Cour d’appel saisie.</font
      ></font
    >
  </p>
  <h3
    class="western"
    style="
      line-height: 0.21in;
      margin-top: 0.23in;
      margin-bottom: 0.1in;
      background: #ffffff;
    "
  >
    <font color="#000000"
      ><font face="Arial, serif"
        ><font size="3" style="font-size: 11pt"
          >Article 11 - Utilisation de Cookies et de fichiers déposés sur le
          périphérique</font
        ></font
      ></font
    >
  </h3>
  <p
    style="
      line-height: 0.17in;
      margin-top: 0.08in;
      margin-bottom: 0.17in;
      background: #ffffff;
    "
  >
    <font face="Arial, serif"
      ><font size="2" style="font-size: 9pt"
        >Le mot « Cookie » est ici utilisé au sens large et englobe tout fichier
        déposé sur le périphérique de l'utilisateur afin de l'identifier ou de
        sauvegarder des informations de manière durable sur le périphérique. Un
        « Cookie » permet l'identification de l'utilisateur, la personnalisation
        de sa consultation et l'accélération de l’affichage de l'application
        grâce à l'enregistrement d'un fichier de données sur son périphérique.
        L'application est susceptible d'utiliser des « Cookies » principalement
        pour 1) permettre à l'application de mémoriser les actions et réglages
        de l'utilisateur dans l'application, 2) obtenir des statistiques de
        navigation afin d'améliorer l'expérience de l'Utilisateur, et 3)
        permettre l'accès à un compte de membre et à du contenu qui n'est pas
        accessible sans connexion. L'Utilisateur reconnaît être informé de cette
        pratique et autorise l'éditeur à y recourir. L'Utilisateur peut refuser
        l'enregistrement de « Cookies » en changeant les réglages de son
        périphérique ou de l'application, mais l'éditeur ne peut alors garantir
        que l'application fonctionnera comme attendu, et ne prendra aucune
        responsabilité en cas de non-fonctionnement de l'application.</font
      ></font
    >
  </p>
  <h3
    class="western"
    style="
      line-height: 0.21in;
      margin-top: 0.23in;
      margin-bottom: 0.1in;
      background: #ffffff;
    "
  >
    <font color="#000000"
      ><font face="Arial, serif"
        ><font size="3" style="font-size: 11pt"
          >Article 12 - Encadrement des conditions</font
        ></font
      ></font
    >
  </h3>
  <p
    style="
      line-height: 0.17in;
      margin-top: 0.08in;
      margin-bottom: 0.17in;
      background: #ffffff;
    "
  >
    <font face="Arial, serif"
      ><font size="2" style="font-size: 9pt"
        >Si une disposition des Conditions générales est jugée illégale, nulle
        ou pour toute autre raison inapplicable, alors cette disposition sera
        réputée divisible des Conditions et n'affectera pas la validité et
        l'applicabilité des dispositions restantes. Ces présentes conditions
        décrivent l’ensemble de l’accord entre l’utilisateur et l'éditeur. Elles
        remplacent tous accords antérieurs ou contemporains écrits ou oraux. Les
        conditions générales ne sont pas cessibles, transférables ou
        sous-licenciable par l’utilisateur lui-même. Une version imprimée des
        Conditions et de tous les avis donnés sous forme électronique pourra
        être demandée dans des procédures judiciaires ou administratives en
        rapport avec les conditions générales. Les parties conviennent que toute
        la correspondance relative à ces conditions générales doit être rédigée
        dans la langue française.</font
      ></font
    >
  </p>
  <h3
    class="western"
    style="
      line-height: 0.21in;
      margin-top: 0.23in;
      margin-bottom: 0.1in;
      background: #ffffff;
    "
  >
    <font color="#000000"
      ><font face="Arial, serif"
        ><font size="3" style="font-size: 11pt"
          >Article 13 - Notifications</font
        ></font
      ></font
    >
  </h3>
  <p
    style="
      line-height: 0.17in;
      margin-top: 0.08in;
      margin-bottom: 0.17in;
      background: #ffffff;
    "
  >
    <font face="Arial, serif"
      ><font size="2" style="font-size: 9pt"
        >Toute notification ou avis concernant les présentes conditions
        générales, les mentions légales ou la charte de données personnelles
        doit être faite par écrit et doit être remis en mains propres, courrier
        recommandé ou certifié, par Poste ou tout autre service de messagerie
        reconnu au niveau national qui permet de suivre régulièrement ses
        forfaits, ou encore par mail aux adresses indiquées dans les mentions
        légales de l'application, en précisant vos noms, prénoms, coordonnées et
        objet de l’avis.</font
      ></font
    >
  </p>
  <h3
    class="western"
    style="
      line-height: 0.21in;
      margin-top: 0.23in;
      margin-bottom: 0.1in;
      background: #ffffff;
    "
  >
    <font color="#000000"
      ><font face="Arial, serif"
        ><font size="3" style="font-size: 11pt"
          >Article 14 - Réclamations</font
        ></font
      ></font
    >
  </h3>
  <p
    style="
      line-height: 0.17in;
      margin-top: 0.08in;
      margin-bottom: 0.17in;
      background: #ffffff;
    "
  >
    <font face="Arial, serif"
      ><font size="2" style="font-size: 9pt"
        >Toute réclamation liée à l'utilisation de l'application, des pages de
        l'application sur des réseaux sociaux éventuels ou les conditions
        générales, mentions légales ou charte de données personnelles doit être
        déposée dans les 365 jours suivant le jour d’origine du problème source
        de réclamation, et ce indépendamment de toute loi ou règle de droit
        contraire. Dans le cas où une telle réclamation n’aurait pas été déposée
        dans les 365 jours suivants, une telle réclamation sera à jamais
        inapplicable en justice.</font
      ></font
    >
  </p>
  <h3
    class="western"
    style="
      line-height: 0.21in;
      margin-top: 0.23in;
      margin-bottom: 0.1in;
      background: #ffffff;
    "
  >
    <font color="#000000"
      ><font face="Arial, serif"
        ><font size="3" style="font-size: 11pt"
          >Article 15 - Inexactitudes</font
        ></font
      ></font
    >
  </h3>
  <p
    style="
      line-height: 0.17in;
      margin-top: 0.08in;
      margin-bottom: 0.17in;
      background: #ffffff;
    "
  >
    <font face="Arial, serif"
      ><font size="2" style="font-size: 9pt"
        >Il peut être possible que se trouvent, dans l’ensemble de
        l'Application, et dans une mesure restreinte, des inexactitudes ou des
        erreurs, ou des informations qui soient en désaccord avec les présentes
        Conditions Générales, les Mentions Légales ou la Charte de Données
        personnelles de l'Application. En outre, il est possible que des
        modifications non autorisées soient faites par des tiers sur
        l'Application ou sur des services annexes (réseaux sociaux…).</font
      ></font
    >
  </p>
  <p
    style="
      line-height: 0.17in;
      margin-top: 0.08in;
      margin-bottom: 0.17in;
      background: #ffffff;
    "
  >
    <font face="Arial, serif"
      ><font size="2" style="font-size: 9pt"
        >Dans une telle situation, l'Utilisateur a la possibilité de contacter
        l'Editeur par courrier postal ou par mail aux adresses indiquées dans
        les mentions légales de l'Application, avec si possible une description
        de l'erreur et son emplacement dans l'application, ainsi que des
        informations suffisantes permettant de le contacter.</font
      ></font
    >
  </p>
  <h3
    class="western"
    style="
      line-height: 0.21in;
      margin-top: 0.23in;
      margin-bottom: 0.1in;
      background: #ffffff;
    "
  >
    <font color="#000000"
      ><font face="Arial, serif"
        ><font size="3" style="font-size: 11pt"
          >Article 16 - Géolocalisation</font
        ></font
      ></font
    >
  </h3>
  <p
    class="western"
    style="line-height: 0.21in; margin-bottom: 0in; background: #ffffff"
  >
    <font face="Arial, serif"
      ><font size="2" style="font-size: 9pt"
        >Conformément à l'article L. 34-1-V du code des postes et des
        communications électroniques, l'application collectant des données de
        localisation, elle doit permettre à l'utilisateur de rendre son accord
        exprès lors de l'installation et de modifier ce choix par la suite.<br />
        <br />
        L'utilisation de la fonctionnalité de géolocalisation de l'application
        nécessite le consentement préalable exprès de l'utilisateur à être
        géolocalisé. Pour cela l'utilisateur devra activer, s'il le souhaite, la
        fonction de géolocalisation directement dans les réglages de son
        terminal mobile et accepter que l'application puisse y avoir recours.
        Cette fonctionnalité peut, à tout moment, et sans frais, être désactivée
        ou activée.<br />
        <br />
        Grâce à l'acceptation de la fonction de géolocalisation par GPS du
        périphérique et de l'application, les services suivants sont offerts à
        l'utilisateur : Récupération des clubs de Padel et tournois à
        proximité.<br />
        Le périphérique calcule alors lui-même sa position.<br />
        <br />
        La désactivation de géolocalisation par l'application et/ou de la
        géolocalisation du périphérique bloque les services offerts par
        l'application qui y sont liés et l'affichage de publicités
        géociblées.</font
      ></font
    >
  </p>
  <p
    align="right"
    style="
      line-height: 0.17in;
      margin-top: 0.42in;
      margin-bottom: 0.17in;
      background: #ffffff;
    "
  >
    <font face="Arial, serif"
      ><font size="2" style="font-size: 9pt"
        >Tous droits réservés - 30 novembre 2019</font
      ></font
    >
  </p>
</ion-content>
