ion-item::part(native) {
  background: transparent;
}

ion-item {
  padding-bottom: 12px;
  padding-top: 12px;
  border-bottom: 1px solid;
  border-color: var(--border-color);
}

ion-list {
  background: var(--transparent) !important;
}

ion-fab {
  ion-fab-button {
    --background: var(--primary);
    width: 48px;
    height: 48px;

    ion-icon {
      font-size: 1.15rem;
    }
  }
}

ion-thumbnail {
  height: 60px !important;
  width: 60px !important;
  --border-radius: 50%;
  margin: 0px 10px 0px 0px;
  padding: 2px;
  position: relative;
}

.text-box {
  margin: 0;
  width: 100%;

  h2 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    color: var(--text-black);
    overflow: hidden;

    span {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: calc(100% - 100px);
      display: block;
    }

    small {
      color: var(--text-light2);
      font-weight: 400;
      min-width: 70px;
      text-align: center;
      font-size: 0.6rem;
      display: block;
    }
  }

  p {
    font-size: 0.75rem;
    font-weight: 400;
    padding-top: 3px;
    color: var(--text-dark);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;

    span {
      &.message {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: calc(100% - 60px);
        display: block;
      }

      &.end {
        color: var(--white);
        background: var(--primary);
        border-radius: 50%;
        text-align: center;
        min-width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: 0.7rem;
        font-weight: 400;
      }
    }

    ion-icon {
      font-size: 1rem;
      min-width: 21px;
    }
  }
}
