<!-- <ion-header class="ion-no-border">
  <div class="header-ct">
    <div class="header">
      <ion-toolbar>
        <ion-thumbnail slot="start">
          <ion-img
            src="assets/chatrooms.png"
            class="animate__animated animate__fadeInLeft"
          ></ion-img>
        </ion-thumbnail>
        <ion-title> <h1>{{ 'discussions' | translate }}</h1></ion-title>
      </ion-toolbar>
    </div>
  </div>
</ion-header> -->

<ion-header>
  <ion-toolbar mode="md">
    <!-- <ion-thumbnail slot="start">
      <ion-img
        src="assets/chatrooms.png"
        class="animate__animated animate__fadeInLeft"
      ></ion-img>
    </ion-thumbnail> -->
    <ion-title> <h1>{{ 'discussions' | translate }}</h1></ion-title>
  </ion-toolbar>
</ion-header>

<!-- <div class="shape"></div> -->
<ion-content class="bg_color">
  <div class="chip-container">
    <ion-chip [outline]="true"
      ><div class="chip-evt bg-color-kid">&nbsp;</div>
      Kid(s)</ion-chip
    >
    <ion-chip [outline]="true"
      ><div class="chip-evt bg-color-nokids">&nbsp;</div>
      NoKid(s)</ion-chip
    >
    <ion-chip [outline]="true"
      ><div class="chip-evt bg-color-free">&nbsp;</div>
      Au choix</ion-chip
    >
  </div>
  <ion-segment mode="md" [(ngModel)]="selectDiscussionsType" lines="none">
    <ion-segment-button
      mode="md"
      value="{{discussionType.ACTIVE}}"
      style="text-transform: none !important"
    >
      <!-- <ion-icon name="person"></ion-icon> -->
      <ion-label> Actives </ion-label>
    </ion-segment-button>
    <ion-segment-button
      mode="md"
      value="{{discussionType.ARCHIVE}}"
      style="text-transform: none !important"
    >
      <!-- <ion-icon name="people"></ion-icon> -->
      <ion-label> Archives</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="selectDiscussionsType === discussionType.ACTIVE">
    <div *ngIf="agendaEvents.length === 0 && !isLoading">
      <h3 style="text-align: center">Pas de discussions en cours</h3>
    </div>
    <ion-list lines="none">
      <ion-item
        button
        *ngFor="let agendaEvent of agendaEvents; let i=index;"
        [ngClass]="getDelayClass(i)"
        detail="false"
        class="animate__animated animate__slideInRight"
        (click)="goToChat(agendaEvent, discussionType.ACTIVE, $event)"
      >
        <ion-thumbnail
          slot="start"
          [ngClass]="{
            'thumb-event-kids': agendaEvent.type === agendaEventType.KIDS,
            'thumb-event-nokids': agendaEvent.type === agendaEventType.NOKIDS,
            'thumb-event-free': agendaEvent.type === agendaEventType.FREE}"
        >
          <img src="{{agendaEvent.avatar}}" />
        </ion-thumbnail>
        <div class="text-box">
          <h2 class="d-flex">
            <span
              [ngClass]="{
              'color-kid': agendaEvent.type === agendaEventType.KIDS,
              'color-nokids': agendaEvent.type === agendaEventType.NOKIDS,
              'color-free': agendaEvent.type === agendaEventType.FREE}"
              >{{agendaEvent.title}}</span
            >

            <ion-icon
              *ngIf="chatrooms[agendaEvent.uid!] && !chatrooms[agendaEvent.uid!].isNotifications"
              name="notifications-off-outline"
              style="position: absolute; right: 12px"
            ></ion-icon>
          </h2>
          <p>
            <ion-text style="font-size: 0.85rem"
              >{{getLastMessageDate(agendaEvent)}}</ion-text
            >
          </p>
          <p class="d-flex">
            <ion-icon
              *ngIf="agendaEvent.last_message?.image"
              class="ion-text-start zmdi zmdi-attachment"
            ></ion-icon>
            <span class="message">{{agendaEvent.last_message?.message}}</span>

            <ng-container
              *ngIf="chatrooms[agendaEvent.uid!] && chatrooms[agendaEvent.uid!].count > 0"
            >
              <span class="end">{{chatrooms[agendaEvent.uid!].count}}</span>
            </ng-container>
          </p>
        </div>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="selectDiscussionsType === discussionType.ARCHIVE">
    <div *ngIf="agendaEventsArchived.length === 0 && !isLoading">
      <h3 style="text-align: center">Pas de discussions archivées</h3>
    </div>
    <ion-list lines="none">
      <ion-item
        button
        detail="false"
        *ngFor="let agendaEvent of agendaEventsArchived; let i=index;"
        [ngClass]="getDelayClass(i)"
        class="animate__animated animate__slideInRight"
        (click)="goToChat(agendaEvent, discussionType.ARCHIVE, $event)"
      >
        <ion-thumbnail
          slot="start"
          [ngClass]="{
        'thumb-event-kids': agendaEvent.type === agendaEventType.KIDS,
        'thumb-event-nokids': agendaEvent.type === agendaEventType.NOKIDS,
        'thumb-event-free': agendaEvent.type === agendaEventType.FREE}"
        >
          <img src="{{agendaEvent.avatar}}" />
        </ion-thumbnail>
        <div class="text-box">
          <h2 class="d-flex">
            <span
              [ngClass]="{
              'color-kid': agendaEvent.type === agendaEventType.KIDS,
              'color-nokids': agendaEvent.type === agendaEventType.NOKIDS,
              'color-free': agendaEvent.type === agendaEventType.FREE}"
              >{{agendaEvent.title}}</span
            >
          </h2>
          <p>
            <ion-text style="font-size: 0.85rem"
              >{{getLastMessageDate(agendaEvent)}}</ion-text
            >
          </p>
          <p class="d-flex">
            <ion-icon
              *ngIf="agendaEvent.last_message?.image"
              class="ion-text-start zmdi zmdi-attachment"
            ></ion-icon>
            <span class="message">{{agendaEvent.last_message?.message}}</span>

            <ng-container
              *ngIf="chatrooms[agendaEvent.uid!] && chatrooms[agendaEvent.uid!].count > 0"
            >
              <span class="end">{{chatrooms[agendaEvent.uid!].count}}</span>
            </ng-container>
          </p>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
