<ion-header>
  <ion-toolbar mode="md">
    <ion-title> <h1>Paramètres</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg_color">
  <ion-list-header>
    <h2>Mon Profil</h2>
  </ion-list-header>

  <ion-card>
    <ion-item
      type="button"
      mode="ios"
      lines="none"
      routerLink="/tabs/parametres/profile"
      routerDirection="forward"
    >
      <!-- <ion-avatar slot="start">
      <ion-img [src]="avatar"></ion-img>
      </ion-avatar> -->
      <div>{{ userInfo?.firstname}} {{userInfo?.lastname}}</div>

      <!-- <ion-icon slot="end" name="chevron-forward-outline" style="color: var(--ion-color-primary)"></ion-icon>
       -->
    </ion-item>

    <!-- <dys-datetime></dys-datetime> -->
  </ion-card>

  <!-- <dys-datetime></dys-datetime> -->

  <ion-list-header>
    <h2>Notifications</h2>
  </ion-list-header>
  <ion-card>
    <ion-list lines="none" class="ion-no-padding">
      <div *ngIf="appSettings">
        <ion-item lines="none">
          <ion-toggle
            color="primary"
            [(ngModel)]="appSettings!.receiveNotification"
            slot="end"
          ></ion-toggle>
          <ion-label>
            Nouveau message reçu
            <p class="ion-text-wrap">
              Lorsqu'un utilisateur envoie un message dans une discussion
            </p></ion-label
          >
        </ion-item>
      </div>

      <div>
        <ion-item lines="none">
          <ion-toggle
            color="primary"
            [(ngModel)]="appSettings!.friendInvitation"
            slot="end"
          ></ion-toggle>
          <ion-label> Demande en ami </ion-label>
        </ion-item>
      </div>

      <div>
        <ion-item lines="none">
          <ion-toggle
            color="primary"
            [(ngModel)]="appSettings!.eventInvitation"
            slot="end"
          ></ion-toggle>
          <ion-label> Invitation à un événement </ion-label>
        </ion-item>
      </div>

      <!-- <div *ngIf="appSettings">
        <ion-item>
          <ion-toggle
            color="primary"
            [(ngModel)]="appSettings.receiveEmail"
            slot="end"
          ></ion-toggle>
          <ion-label>
            <ion-text class="ion-text-capitalize">Equipe Dyspo</ion-text>
            <p class="ion-text-wrap">
              Vous souhaitez recevoir des informations et des offres de la part
              de Dyspo
            </p>
          </ion-label>
        </ion-item>
      </div> -->
    </ion-list>
  </ion-card>
  <div *ngIf="appSettings">
    <ion-list-header><h2>Réglages</h2></ion-list-header>
    <ion-card>
      <ion-list lines="none" class="ion-no-padding">
        <div>
          <ion-item>
            <ion-toggle
              color="primary"
              [(ngModel)]="appSettings.shareAgenda"
              slot="end"
            ></ion-toggle>
            <ion-label
              ><ion-text class="ion-text-capitalize">Agenda</ion-text>
              <p class="ion-text-wrap">
                Autoriser les autres membres à avoir accès à mes disponibilités
              </p>
            </ion-label>
          </ion-item>
        </div>
      </ion-list>
    </ion-card>
  </div>

  <ion-list-header>
    <h2>Mentions Légales</h2>
  </ion-list-header>

  <ion-card>
    <ion-item tappable (click)="openMail()" lines="none">
      <ion-label class="ion-text-wrap">
        <ion-icon name="mail" class="iconmail" color="primary"></ion-icon>
        <ion-text class="contacttext">Contactez-nous</ion-text>
      </ion-label>
    </ion-item>
    <ion-item
      [routerDirection]="'forward'"
      [routerLink]="['/cgu']"
      routerLinkActive="active-item"
      lines="none"
    >
      <ion-label class="ion-text-wrap text">
        <ion-icon
          name="information-circle"
          class="iconmail"
          color="primary"
        ></ion-icon>
        <ion-text class="contacttext">A propos de nous</ion-text>
      </ion-label>
    </ion-item>
  </ion-card>

  <div class="ct-bottom">
    <ion-img src="../../assets/dyspo_black_logo.png" class="logo"></ion-img>
    <ion-footer>
      <ion-button
        fill="solid"
        expand="full"
        mode="ios"
        class="dyspo-button"
        color="danger"
        (click)="deleteAccount()"
      >
        <ion-icon name="close-circle-outline" slot="start"></ion-icon>
        Supprimer mon compte
      </ion-button>
      <ion-button
        fill="solid"
        expand="full"
        class="dyspo-button"
        color="danger"
        mode="ios"
        (click)="logout()"
      >
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        Déconnexion
      </ion-button>
    </ion-footer>
    <p class="excepTextSize">Version 0.0.1</p>
  </div>
</ion-content>
