<div class="agenda-event-container box-1">
  <ion-row style="border-bottom: 1px solid" class="ion-align-items-center">
    <ion-col size="2">
      <ion-avatar class="event-type-avatar">
        <ion-img
          *ngIf="agendaEvent.type === agendaEventType.KIDS"
          src="../../../../assets/dyspo-kid.png"
        ></ion-img>
        <ion-img
          *ngIf="agendaEvent.type === agendaEventType.NOKIDS"
          src="../../../../assets/dyspo-nokid.png"
        ></ion-img>
        <ion-img
          *ngIf="agendaEvent.type === agendaEventType.FREE"
          src="../../../../assets/dyspo-free.png"
        ></ion-img>
      </ion-avatar>
    </ion-col>
    <ion-col size="10" style="margin-left: 0px !important">
      <div
        style="white-space: no-wrap; text-overflow: ellipsis; overflow: hidden"
        class="ion-align-items-center title-notif"
      >
        {{ agendaEvent.title }}
      </div></ion-col
    ></ion-row
  >
  <ion-row class="ion-align-items-center">
    <ion-col *ngIf="agendaEvent.avatar" size="3">
      <ion-thumbnail
        class="event-avatar"
        style="border-radius: 5px; overflow: hidden"
      >
        <img src="{{ agendaEvent.avatar }}" />
      </ion-thumbnail>
    </ion-col>
    <ion-col
      [size]="isInvitation ? 9 : 7"
      class="ion-align-items-center ion-text-center"
    >
      {{ agendaEvent.start_date_formatted }}<br />
      <ion-text style="font-size: 0.85rem"
        >{{ agendaEvent.start_time_formatted }} -
        {{ agendaEvent.end_time_formatted }}</ion-text
      >
    </ion-col>
    <ion-col
      *ngIf="!isInvitation"
      size="2"
      class="ion-align-items-center ion-text-center"
    >
      <ion-button
        *ngIf="agendaEvent.members_uid.length > 1"
        size="small"
        fill="clear"
        (click)="goToChat(agendaEvent, $event)"
      >
        <ion-icon
          slot="icon-only"
          name="chatbubble-ellipses-outline"
        ></ion-icon>
      </ion-button> </ion-col
  ></ion-row>
</div>
