<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button
        text=""
        icon="chevron-back-outline"
        color="dark"
      ></ion-back-button>
    </ion-buttons>
    <ion-title style="padding-left: 0px"><h1>{{pageTitle}}</h1> </ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button
        slot="end"
        fill="outline"
        shape="round"
        (click)="saveFriendGroup()"
        >{{saveLabel}}</ion-button
      >
     
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top bg_color">
  <div
    class="d-flex ion-align-items-center ion-justify-content-center"
    button
    (click)="takePhotoPrompt()"
  >
    <div
      class="d-flex camera-wrapper ion-align-items-center ion-justify-content-center"
    >
      <!-- <ion-icon name="camera-outline"></ion-icon> -->
      <ion-thumbnail>
        <img src="{{friendGroup.avatarPath}}" />
      </ion-thumbnail>
    </div>
  </div>

  <ion-item lines="none" class="status">
    <ion-input
      type="text"
      maxlength="20"
      autocapitalize="sentences"
      class="ion-text-center"
      [(ngModel)]="friendGroup.label"
      placeholder="{{'add_group_name' | translate}}"
    ></ion-input>
  </ion-item>

  <ion-list>
    <ion-item
      *ngFor="let checkedFriend of checkedFriends"
      lines="full"
      class="animated slideInRight delay_11"
    >
      <ion-thumbnail slot="start" class="thumb-avatar">
        <img src="{{checkedFriend.friend.userData?.avatarPath}}" />
      </ion-thumbnail>

      <div class="text-box">
        {{checkedFriend.friend.userData?.lastname}}
        {{checkedFriend.friend.userData?.firstname}}
      </div>
      <ion-checkbox
        [(ngModel)]="checkedFriend.isChecked"
        slot="end"
      ></ion-checkbox>
    </ion-item>

    <!-- <ion-item class="animated slideInRight delay_11">
      <div class="item_inner d-flex">
        <div class="profile_img_box">
          <div class="profile_img">
            <img src="assets/img/3.png" />
          </div>
        </div>
        <div class="text-box">
          <h2 class="d-flex"><span>Brinley</span></h2>
          <p class="d-flex">
            <ion-icon class="ion-text-start zmdi zmdi-attachment"></ion-icon>
            <span class="message">Yes, I am Coming.</span>
          </p>
        </div>
        <ion-checkbox checked="true" class="end"></ion-checkbox>
      </div>
    </ion-item> -->
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <div class="d-flex ion-justify-content-center">
    <ion-button
      fill="solid"
      class="dyspo-button"
      color="tertiary"
      mode="ios"
      (click)="saveFriendGroup()"
    >
      <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
      {{countCheckedItems()}}
    </ion-button>
  </div>
</ion-footer>
