<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-title>Discussions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Discussions</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="createChatroom()">
          <ion-icon name="add" slot="start"></ion-icon>
          Créer
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ion-content>
