.footer-md:before{
    background: none;
}
.header-md:after{
    background: none;
}

.userSection {
    display: flex;
    align-items: center;
    position: relative;
    top:10px;
    // justify-content: space-between;
}

.userDetail {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.userName {
    font-size: 22px;
}


