<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button
        text=""
        color="dark"
        icon="chevron-back-outline"
      ></ion-back-button>
    </ion-buttons>
    <ion-title style="padding-left: 0px"><h1>Profil</h1></ion-title>

    <!-- <ion-buttons slot="end">
      <ion-button (click)="logout()" color="dark">
        <ion-icon name="log-out" slot="icon-only" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
  <ion-toolbar color="primary">
    <div class="userSection ion-padding-horizontal">
      <div
        slot="start"
        style="position: relative"
        tappable
        (click)="changeAvatar()"
      >
        <!-- <div
          style="
            position: absolute;
            right: -7px;
            background: var('--bg-color-secondary');
            text-align: center;
            width: 25px;
            height: 25px;
            border-radius: 12px;
          "
        >
          <ion-icon
            name="camera-outline"
            color="primary"
            style="position: relative; top: 4px"
          ></ion-icon>
        </div> -->

        <ion-avatar slot="start">
          <img [src]="user.avatarPath || defaultAvatar" />
        </ion-avatar>
      </div>

      <div class="userDetail ion-padding-start">
        <ion-label class="userName">
          {{user.firstname}} {{user.lastname}}
        </ion-label>
        <ion-text>{{user.email}}</ion-text>
      </div>
    </div>
    <p></p>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding bg_color">
  <div class="form" padding>
    <ion-list class="f-list" lines="none">
      <ion-item lines="none">
        <ion-label mode="md" position="floating">Nom *</ion-label>
        <ion-input
          mode="md"
          type="name"
          minlength="3"
          maxlength="20"
          required="true"
          autocomplete="off"
          type="name"
          autocapitalize="characters"
          [(ngModel)]="user.lastname"
          name="lastname"
          placeholder="Entrez votre nom"
        ></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label mode="md" position="floating">Prénom *</ion-label>
        <ion-input
          mode="md"
          minlength="3"
          maxlength="20"
          autocapitalize="words"
          type="text"
          [(ngModel)]="user.firstname"
          name="firstname"
          placeholder="Entrez votre prénom"
        ></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label mode="md" position="floating">Email *</ion-label>
        <ion-input
          mode="md"
          type="text"
          minlength="3"
          maxlength="25"
          [(ngModel)]="user.email"
          name="email"
          placeholder="Entrez votre email"
        ></ion-input>
      </ion-item>

      <ion-item lines="none" style="padding-bottom: 0px">
        <ion-select
          label="Zone"
          [(ngModel)]="user.geo_zone"
          (ionChange)="getAcademies()"
          placeholder="Sélectionnez une zone"
        >
          <ion-select-option value="zone_A">Zone A</ion-select-option>
          <ion-select-option value="zone_B">Zone B</ion-select-option>
          <ion-select-option value="zone_C">Zone C</ion-select-option>
        </ion-select>
      </ion-item>

      <div class="d-flex ion-align-items-center" style="margin-bottom: 30px">
        <ion-note> {{academies}} </ion-note>
      </div>

      <ion-item>
        <ion-text>J'ai des enfants </ion-text>
        <ion-buttons slot="end">
          <ion-checkbox [(ngModel)]="user.with_kids"> </ion-checkbox>
        </ion-buttons>
      </ion-item>

      <ion-item lines="none">
        <ion-label mode="md" position="stacked">Mot de passe</ion-label>

        <ion-button slot="end" (click)="resetPw()"> Changer</ion-button>
      </ion-item>

      <!-- <ion-item class="f-item" lines="none">
        <ion-label mode="md" position="floating">Téléphone</ion-label>
        <ion-input
          mode="md"
          type="tel"
          [(ngModel)]="user.phoneNumber"
          name="phoneNumber"
          placeholder="Entrez votre téléphone"
        ></ion-input>
      </ion-item>
      <ion-item counter="true" class="desc-inner" lines="none">
        <ion-label position="floating">Description</ion-label>
        <ion-textarea
          [(ngModel)]="user.tagline"
          rows="3"
          maxlength="100"
          placeholder="Décrivez vous en quelques mots..."
        ></ion-textarea>
      </ion-item> -->

      <ion-list>
        <ion-radio-group [(ngModel)]="user.gender">
          <ion-item>
            <ion-label>Homme</ion-label>
            <ion-radio value="M"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Femme</ion-label>
            <ion-radio value="F"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-list>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-button
    expand="full"
    fill="solid"
    (click)="save()"
    mode="ios"
    color="dark"
    class="dyspo-button ion-no-margin"
    >{{'SAVE' | translate}}
    <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
  </ion-button>
</ion-footer>
