ion-button {
  --color: #eee;
}

ion-toolbar {
  --background: transparent;
}

.form-btn {
  --background: #363636;
}

.header-container {
  margin: 0px 5px 16px 5px;
  ion-thumbnail {
    height: 100px;
    width: 100px;
    --border-radius: 50%;
    margin-right: 10px;
    padding: 5px;
  }
  .admin {
  }
}

.body-inner {
  color: #eee;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  ion-buttons {
    ion-button {
      border-radius: 50%;
      height: 45px;
      width: 45px;
      background: #ffff;
      ion-icon {
        color: black;
      }
    }
  }
}

.category_div {
  overflow: scroll;
  display: flex;
  flex-direction: row;
  min-height: 82px;
  margin: 10px 0px 10px 0px;
  .menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    .item {
      border-radius: 50%;
      background: transparent !important;
      width: max-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background: #f4f5f8;
      ion-label {
        font-size: 10px;
        margin-top: 6px;
      }
      ion-thumbnail {
        border-radius: 50%;
        padding: 2px;
        margin: 2px;
        height: 60px;
        width: 60px;
        --background: transparent;
        //border: 2px solid rgb(255, 95, 122);
        position: relative;

        ion-badge {
          position: absolute;
          top: -5px; /* Ajustez cette valeur pour positionner verticalement */
          right: -5px; /* Ajustez cette valeur pour positionner horizontalement */
          font-size: 12px; /* Taille du texte du badge */
          width: 20px; /* Largeur du badge */
          height: 20px; /* Hauteur du badge */
          border-radius: 50%; /* Pour créer un badge circulaire */
          background-color: red; /* Couleur de fond du badge */
          color: white; /* Couleur du texte du badge */
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .invite-icon {
          background: rgb(55, 108, 207);
          border-radius: 20px;
          position: absolute;
          bottom: -22px;
          color: white;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 23px;
        }
        img {
          border-radius: 50%;
        }

        .thumbnail-status {
          position: absolute;
          top: 0px; /* Ajustez cette valeur pour positionner verticalement */
          //right: -5px; /* Ajustez cette valeur pour positionner horizontalement */
          font-size: 60px; /* Taille du texte du badge */
          width: 100%;
          height: 100%;

          left: 0px;
          text-align: center;
          justify-content: center;
          border-radius: 50%; /* Pour créer un badge circulaire */
          // background-color: rgb(35, 176, 47); /* Couleur de fond du badge */
          color: rgb(240, 240, 240); /* Couleur du texte du badge */
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

ion-row {
  ion-col {
    display: flex;
    align-items: center;
    justify-content: center;
    .img {
      height: 160px;
      width: 160px;
      border-radius: 20px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.bg-avatar {
  overflow: hidden;
  border-radius: 3px;

  width: 50%;
  height: 250px;
  position: relative;
  border: 2px solid rgb(181, 181, 181);
  transform-origin: top left;
  transform: rotate(-2deg); /* Ajustez l'angle de rotation selon vos besoins */

  ion-img {
    min-width: calc(100% + 30px);
    min-height: 100%;
    transform-origin: top left;
    transform: rotate(2deg); /* Ajustez l'angle de rotation selon vos besoins */

    position: absolute;
    top: -20px;
    left: -10px;
  }
}

.container {
  perspective: 1000px; /* Crée une perspective pour l'effet de perspective */
}

.skewed-div {
  width: 300px; /* Ajustez la largeur selon vos besoins */
  height: 200px; /* Ajustez la hauteur selon vos besoins */
  background-color: #f0f0f0; /* Couleur de fond pour la div inclinée */
  transform: rotate(-10deg); /* Inclinaison de la div */
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin: 50px; /* Marge pour séparer la div */
}

.skewed-div img {
  transform: rotate(10deg); /* Inverse l'inclinaison de la div pour l'image */
  width: calc(120%);
  max-height: 100%;
}

.label-type {
  width: fit-content;
  border-radius: 3px;
  padding: 3px 5px;
}
