<ion-content
  [fullscreen]="true"
  [ngClass]="{
    'bg-kids': agendaEvent.type === agendaEventType.KIDS,
    'bg-nokids': agendaEvent.type === agendaEventType.NOKIDS,
    'bg-free': agendaEvent.type === agendaEventType.FREE,
  }"
>
  <ion-toolbar>
    <ion-button slot="start" (click)="close()" fill="clear" size="large">
      <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
    </ion-button>
    <ion-button
      *ngIf="!isInvitation"
      slot="end"
      (click)="openPopoverMenu($event)"
      fill="clear"
      size="large"
    >
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>

  <div
    [ngClass]="{
      'bg-kids-secondary': agendaEvent.type === agendaEventType.KIDS,
      'bg-nokids-secondary': agendaEvent.type === agendaEventType.NOKIDS,
      'bg-free-secondary': agendaEvent.type === agendaEventType.FREE,
      'header-container': true,
      
    }"
  >
    <div class="header-inner ion-padding">
      <div class="admin-ct d-flex" *ngIf="agendaEvent.is_multi">
        <ion-thumbnail
          slot="start"
          [ngClass]="{
            'thumb-kid': admin?.dyspoStatus === UserDyspoStatus.DYSPOWITHKIDS,
            'thumb-nokids': admin?.dyspoStatus === UserDyspoStatus.DYSPO,
            'thumb-nodyspo': admin?.dyspoStatus === UserDyspoStatus.NODYSPO
          }"
        >
          <img src="{{ admin?.avatarPath }}" />
          <!-- <ion-icon name="add" color="light"></ion-icon> -->
        </ion-thumbnail>
        <div>
          <span style="font-weight: bold; font-size: 1.15rem">{{
            admin?.firstname
          }}</span
          ><br />
          <span>propose un évenement</span>
          <br />
          <div
            [ngClass]="{
              'label-bg-kids': agendaEvent.type === agendaEventType.KIDS,
              'label-bg-nokids': agendaEvent.type === agendaEventType.NOKIDS,
              'label-bg-free': agendaEvent.type === agendaEventType.FREE,
              'label-type': true
            }"
          >
            {{ eventTypeLabel }}
          </div>
        </div>
      </div>

      <div
        class="d-flex ion-padding ion-align-items-center ion-justify-content-center"
      >
        <div>
          <div>
            {{ display_date_1 }}
          </div>
          <div *ngIf="display_date_2">{{ display_date_2 }}</div>
          <div *ngIf="agendaEvent.is_multi" class="ion-text-center">
            <span
              style="font-size: 1.3rem; font-weight: bold; margin-right: 5px"
              >{{
                members_presence_confirmed.length +
                  members_presence_not_confirmed.length
              }}</span
            >
            <span
              *ngIf="
                members_presence_confirmed.length +
                  members_presence_not_confirmed.length <=
                1
              "
            >
              participant</span
            >
            <span
              *ngIf="
                members_presence_confirmed.length +
                  members_presence_not_confirmed.length >
                1
              "
            >
              participants</span
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Participants section-->

    <div class="category_div" *ngIf="agendaEvent.is_multi">
      <div class="menu" *ngIf="!members_loaded">
        <div class="item" *ngFor="let i of [1, 2, 3, 4, 5]">
          <ion-thumbnail>
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            <ion-icon></ion-icon>
          </ion-thumbnail>
          <ion-label
            ><ion-skeleton-text
              [animated]="true"
              style="width: 30px"
            ></ion-skeleton-text
          ></ion-label>
        </div>
      </div>

      <div class="menu" *ngIf="members_loaded">
        <div
          class="item animate__animated animate__fadeIn"
          *ngFor="let member of members_presence_confirmed"
        >
          <ion-thumbnail
            (click)="onSelectUser(member, $event)"
            [ngClass]="{
              'thumb-kid': member.dyspoStatus === UserDyspoStatus.DYSPOWITHKIDS,
              'thumb-nokids': member.dyspoStatus === UserDyspoStatus.DYSPO,
              'thumb-nodyspo': member.dyspoStatus === UserDyspoStatus.NODYSPO
            }"
          >
            <img src="{{ member.avatarPath }}" />
            <ion-badge
              *ngIf="member.agendaEvents!.length > 0"
              name="warning-outline"
              color="danger"
              class="thumbnail-badge"
              >{{ member.agendaEvents!.length }}</ion-badge
            >
            <ion-icon
              (click)="invite(member)"
              *ngIf="member.is_my_friend === false"
              class="zmdi zmdi-plus end invite-icon"
            ></ion-icon>
            <div
              class="d-flex ion-align-items-center thumbnail-status animate__animated animate__zoomIn"
            >
              <ion-icon name="checkmark-outline"></ion-icon>
            </div>
          </ion-thumbnail>
          <ion-label>{{ member.firstname }}</ion-label>
        </div>
        <div
          class="item animate__animated animate__zoomIn"
          *ngFor="let member of members_presence_not_confirmed"
        >
          <ion-thumbnail
            (click)="onSelectUser(member, $event)"
            [ngClass]="{
              'thumb-kid': member.dyspoStatus === UserDyspoStatus.DYSPOWITHKIDS,
              'thumb-nokids': member.dyspoStatus === UserDyspoStatus.DYSPO,
              'thumb-nodyspo': member.dyspoStatus === UserDyspoStatus.NODYSPO
            }"
          >
            <img src="{{ member.avatarPath }}" />
            <ion-badge
              *ngIf="member.agendaEvents!.length > 0"
              name="warning-outline"
              color="danger"
              class="thumbnail-badge"
              >{{ member.agendaEvents!.length }}</ion-badge
            >
            <ion-icon
              (click)="invite(member)"
              *ngIf="member.is_my_friend === false"
              class="zmdi zmdi-plus end invite-icon"
            ></ion-icon>
            <div
              class="d-flex ion-align-items-center thumbnail-status animate__animated animate__zoomIn"
            >
              <ion-icon name="help-outline"></ion-icon>
            </div>
          </ion-thumbnail>
          <ion-label>{{ member.firstname }}</ion-label>
        </div>
      </div>
    </div>
  </div>

  <div
    style="width: 100%"
    class="body-inner d-flex ion-margin-top ion-margin-bottom ion-justify-content-center"
  >
    <div class="ion-margin-top ion-text-center" style="width: 100%">
      <!-- <div class="container">
        <div class="skewed-div">
          <img src="{{ agendaEvent.avatar }}" />
        </div>
      </div> -->
      <div *ngIf="agendaEvent.avatar" class="d-flex ion-justify-content-center">
        <div
          class="bg-avatar d-flex ion-justify-content-center ion-margin-bottom"
        >
          <ion-img src="{{ agendaEvent.avatar }}"></ion-img>
        </div>
      </div>

      <span style="font-size: 1.3rem; font-weight: bold">{{
        agendaEvent.title
      }}</span
      ><br />
      {{ agendaEvent.place_description }}
      <br />
      <!-- My Status and Dyspo  -->
      <div
        *ngIf="isInvitation"
        class="d-flex ion-text-center ion-justify-content-center ion-padding-top"
      >
        {{ my_dyspoStatus_label }}<br />
        {{ my_agendaEvents_label }}
      </div>
    </div>
  </div>
  <div
    *ngIf="isInvitation"
    class="d-flex ion-justify-content-center ion-margin-top"
    style="color: #eee; padding-bottom: var(--ion-safe-area-bottom)"
  >
    <ion-button (click)="acceptInvitation()" class="form-btn" fill="clear"
      >Dyspo! <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon
    ></ion-button>
    <ion-button (click)="declineInvitation()" class="form-btn" fill="clear"
      >No Dyspo <ion-icon slot="start" name="close-circle-outline"></ion-icon
    ></ion-button>
    <ion-button (click)="close()" class="form-btn" fill="clear"
      >A Voir <ion-icon slot="start" name="help-circle-outline"></ion-icon
    ></ion-button>
  </div>

  <ion-popover
    #popovermenu
    [isOpen]="isPopoverOpen"
    (didDismiss)="isPopoverOpen = false"
  >
    <ng-template>
      <ion-list>
        <ion-item *ngIf="allowEdit" tappable (click)="editEvent()">
          <ion-icon name="create-outline" style="margin-right: 15px"></ion-icon>
          <ion-text>Editer l'évenement</ion-text>
        </ion-item>
        <ion-item tappable (click)="quitEvent()" lines="none">
          <ion-icon
            name="ban"
            color="danger"
            style="margin-right: 15px"
          ></ion-icon>
          <ion-text>Supprimer l'évenement</ion-text>
        </ion-item>
      </ion-list>
    </ng-template>
  </ion-popover>

  <ion-popover
    #popoverUserEvents
    [isOpen]="isPopoverUserEventsOpen"
    (didDismiss)="isPopoverUserEventsOpen = false"
  >
    <ng-template>
      <ion-list>
        <ion-item *ngFor="let agEv of selectedUserEvents">
          <ion-text color="danger" style="font-size: 0.75rem"
            >Autre evenement à {{ agEv.start_time_formatted }}</ion-text
          >
        </ion-item>
      </ion-list>
    </ng-template>
  </ion-popover>

  <ion-modal
    [isOpen]="modalNewAdminOpened"
    [initialBreakpoint]="0.4"
    [breakpoints]="[0, 0.4, 1]"
    (didDismiss)="modalNewAdminOpened = false"
  >
    <ng-template>
      <ion-content class="ion-padding">
        <div
          class="d-flex ion-text-center ion-justify-content-center ion-padding"
        >
          <ion-text>Sélectionnez un nouvel admin</ion-text>
        </div>
        <ion-list lines="none">
          <ion-item
            (click)="confirmNewAdmin(candidate)"
            *ngFor="let candidate of new_admin_candidates"
            class="animated slideInRight delay_11"
          >
            <ion-thumbnail slot="start">
              <img src="{{ candidate.avatarPath }}" />
            </ion-thumbnail>

            <div class="text-box">
              {{ candidate.lastname }}
              {{ candidate.firstname }}
            </div>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
