ion-button {
  --color: #eee;
}

ion-toolbar {
  --background: transparent;
}

.form-btn {
  --background: #363636;
}

.bg-kids {
  --background: #8c8c1f;
  color: var(--white);
  //border-color: var(--text-dyspo);
}

.bg-nokids {
  --background: #328bc6;
  color: var(--white);
  //color: var(--text-no-dyspo);
}

.bg-free {
  --background: #2fb62d;
  color: var(--white);
}

.bg-kids-secondary {
  background-color: #e1e1b7;
  //color: var(--white);
}

.bg-nokids-secondary {
  background-color: #94b8d0;
  //color: var(--white);
}

.bg-free-secondary {
  background-color: #b4e0b3;
  //color: var(--white);
}

.header-container {
  margin: 0px 5px 16px 5px;
  ion-thumbnail {
    height: 100px;
    width: 100px;
    --border-radius: 50%;
    margin-right: 10px;
    padding: 5px;
  }
  .admin {
  }
}

.body-inner {
  color: #eee;
}

.bg-avatar {
  overflow: hidden;
  border-radius: 3px;
  width: 80%;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  ion-buttons {
    ion-button {
      border-radius: 50%;
      height: 45px;
      width: 45px;
      background: #ffff;
      ion-icon {
        color: black;
      }
    }
  }
}

.category_div {
  overflow: scroll;
  display: flex;
  flex-direction: row;
  margin: 10px 0px 10px 0px;
  .menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    .item {
      border-radius: 50%;
      background: transparent !important;
      width: max-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background: #f4f5f8;
      ion-label {
        font-size: 10px;
        margin-top: 10px;
      }
      ion-thumbnail {
        border-radius: 50%;
        padding: 2px;
        margin: 2px;
        height: 60px;
        width: 60px;
        --background: transparent;
        border: 2px solid rgb(255, 95, 122);
        position: relative;
        ion-icon {
          background: rgb(255, 102, 209);
          border-radius: 20px;
          position: absolute;
          bottom: -22px;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 23px;
        }
        img {
          border-radius: 50%;
        }
      }
    }
  }
}

ion-row {
  ion-col {
    display: flex;
    align-items: center;
    justify-content: center;
    .img {
      height: 160px;
      width: 160px;
      border-radius: 20px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
