<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title (click)="openEvent()">
      <div class="profile d-flex active">
        <div *ngIf="agendaEvent.avatar" class="profile_img_box">
          <div class="profile_img">
            <img src="{{agendaEvent.avatar}}" />
          </div>
        </div>
        <div class="title-container">
          <h2>{{agendaEvent.title}}</h2>
          <h3>{{agendaEvent.start_date_formatted}}</h3>
          <h3>
            {{agendaEvent.start_time_formatted}} -
            {{agendaEvent.end_time_formatted}}
          </h3>
        </div>

        <!-- <span class="end">
          <ion-icon class="zmdi zmdi-more-vert ion-text-center"></ion-icon>
        </span> -->
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon
        tappable
        slot="end"
        name="ellipsis-vertical"
        color="primary"
        (click)="openMenu($event)"
      >
      </ion-icon>
      <ion-icon
        *ngIf="msgSelected"
        tappable
        slot="end"
        name="trash-outline"
        color="light"
        (click)="deleteMsg($event)"
      >
      </ion-icon>
      <ion-icon
        *ngIf="msgSelected"
        tappable
        slot="end"
        name="warning-outline"
        color="light"
        (click)="reportMsg($event)"
      >
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <div class="category_div">
    <div class="menu">
      <div class="item" *ngFor="let member of member_infos">
        <ion-thumbnail
          (click)="onSelectUser(member, $event)"
          [ngClass]="{
          'thumb-kid': member.dyspoStatus === UserDyspoStatus.DYSPOWITHKIDS,
          'thumb-nokids': member.dyspoStatus === UserDyspoStatus.DYSPO,
          'thumb-nodyspo': member.dyspoStatus === UserDyspoStatus.NODYSPO,
          'animate__animated animate__zoomIn': true
        }"
        >
          <img src="{{ member.avatarPath }}" />
          <!-- <ion-badge
          *ngIf="member.agendaEvents!.length > 0"
          name="warning-outline"
          color="danger"
          class="thumbnail-badge"
          >{{ member.agendaEvents!.length }}</ion-badge
        > -->
          <ion-icon
            *ngIf="member.is_my_friend === false"
            class="zmdi zmdi-plus end"
          ></ion-icon>
        </ion-thumbnail>

        <ion-label>{{ member.firstname }}</ion-label>
      </div>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="chat_container d-flex" (scrollPosition)="onScroll($event)">
    <ng-container *ngFor="let msg of msgList">
      <div *ngIf="msg.sender !== my_uid" class="chat-box d-flex received">
        <div class="chat">
          <div class="chat_detail">
            <div class="profile_img center_img">
              <img
                class="animate__animated animated__fadeIn"
                *ngIf="member_infos_obj[msg.sender]"
                [defaultImage]="defaultAvatar"
                [lazyLoad]="member_infos_obj[msg.sender].avatarPath!"
                class="crop_img"
              />
              <img
                *ngIf="!member_infos_obj[msg.sender]"
                [src]="defaultAvatar"
                class="crop_img"
              />
            </div>
            <div class="text">
              <h6>{{member_infos_obj[msg.sender]?.firstname}}</h6>
              <h2>{{msg.message}}</h2>
            </div>
          </div>

          <div class="attachment" *ngIf="msg.image" (click)="openImage(msg)">
            <img src="{{msg.image}}" />
          </div>
        </div>
        <p>{{msg.date_ISO | dateChatFormat}}</p>
      </div>

      <div *ngIf="msg.sender === my_uid" class="chat-box d-flex send">
        <p>{{msg.date_ISO | dateChatFormat}}</p>
        <div class="chat">
          <div class="chat_detail ion-justify-content-end">
            <div class="text">
              <h6>Vous</h6>
              <h2>{{msg.message}}</h2>
            </div>
            <div class="profile_img center_img">
              <img src="{{my_avatar}}" class="crop_img" />
            </div>
          </div>
          <div *ngIf="msg.image" class="attachment" (click)="openImage(msg)">
            <img src="{{msg.image}}" />
          </div>
        </div>
      </div>
    </ng-container>
    <div *ngIf="pendingAttachment" class="chat-box d-flex send">
      <p>Now</p>
      <div class="chat">
        <div class="chat_detail ion-justify-content-end">
          <div class="text">
            <h6>Vous</h6>
            <h2>{{userInput}}</h2>
          </div>

          <div class="profile_img center_img">
            <img src="{{my_avatar}}" class="crop_img" />
          </div>
        </div>
        <div class="attachment">
          <img src="{{pendingAttachment}}" />
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="animate__animated animate__slideInUp delay_3">
  <div
    class="bg-theme d-flex"
    [ngClass]="viewType === '' ? 'option':'option active'"
  >
    <ion-icon class="zmdi zmdi-image" (click)="openGallery()"></ion-icon>
    <ion-icon class="zmdi zmdi-camera" (click)="takePhoto()"></ion-icon>
    <ion-icon class="zmdi zmdi-close" (click)="setViewType('')"></ion-icon>
  </div>

  <ion-toolbar>
    <div slot="start">
      <ion-button fill="clear" (click)="setViewType('active')">
        <ion-icon
          color="medium"
          name="attach-outline"
          slot="icon-only"
        ></ion-icon>
      </ion-button>
    </div>
    <ion-item lines="none">
      <ion-input
        type="text"
        [(ngModel)]="userInput"
        placeholder="{{ 'type_your_message' | translate}} "
      ></ion-input>
    </ion-item>

    <ion-button slot="end" fill="clear" (click)=" sendMsg()">
      <ion-icon name="send" color="medium" slot="icon-only"> </ion-icon>

      <!-- <ion-icon class="zmdi zmdi-mic ion-text-end"></ion-icon> -->
    </ion-button>
  </ion-toolbar>
</ion-footer>
