<ion-header>
  <ion-toolbar *ngIf="!msgSelected" mode="md">
    <ion-buttons slot="start">
      <ion-back-button
        color="dark"
        text=""
        icon="chevron-back-outline"
      ></ion-back-button>
    </ion-buttons>
    <ion-title (click)="openEvent()" mode="md">
      <div class="profile d-flex">
        <div *ngIf="agendaEvent.avatar" class="profile_img_box">
          <ion-thumbnail class="thumb-avatar-event">
            <img src="{{agendaEvent.avatar}}" />
          </ion-thumbnail>
        </div>
        <div class="title-container">
          <h2><b>{{agendaEvent.title}}</b></h2>
          <div>
            <h3>{{ display_date_1 }}</h3>
          </div>
          <div *ngIf="display_date_2"><h3>{{ display_date_2 }}</h3></div>
        </div>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openMenu($event)">
        <ion-icon slot="icon-only" name="ellipsis-vertical" color="dark">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="msgSelected">
    <ion-buttons slot="start">
      <ion-button (click)="msgSelected = undefined">
        <ion-icon tappable slot="icon-only" name="close-outline" color="dark">
        </ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="deleteMsg($event)">
        <ion-icon tappable slot="icon-only" name="trash-outline" color="dark">
        </ion-icon>
      </ion-button>
      <ion-button (click)="reportMsg($event)">
        <ion-icon
          *ngIf="msgSelected.sender !== my_uid"
          tappable
          slot="icon-only"
          name="warning-outline"
          color="dark"
        >
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="category_div">
    <div class="menu">
      <div class="item" *ngFor="let member of member_infos">
        <ion-thumbnail
          (click)="onSelectUser(member, $event)"
          [ngClass]="{
          'thumb-kid': member.dyspoStatus === UserDyspoStatus.DYSPOWITHKIDS,
          'thumb-nokids': member.dyspoStatus === UserDyspoStatus.DYSPO,
          'thumb-nodyspo': member.dyspoStatus === UserDyspoStatus.NODYSPO,
          'animate__animated animate__zoomIn': true
        }"
        >
          <img src="{{ member.avatarPath }}" />
          <!-- <ion-badge
          *ngIf="member.agendaEvents!.length > 0"
          name="warning-outline"
          color="danger"
          class="thumbnail-badge"
          >{{ member.agendaEvents!.length }}</ion-badge
        > -->
          <ion-icon
            *ngIf="member.is_my_friend === false"
            class="zmdi zmdi-plus end"
          ></ion-icon>
        </ion-thumbnail>

        <ion-label>{{ member.firstname }}</ion-label>
      </div>
    </div>
  </div>
</ion-header>

<ion-content (ionScroll)="onScroll($event)" [scrollEvents]="true">
  <div class="chat_container d-flex" #msgScrollableContainer>
    <div *ngIf="loading" class="d-flex ion-justify-content-center">
      <ion-spinner
        color="light"
        style="width: 40px; height: 40px"
      ></ion-spinner>
    </div>

    <div
      class="d-flex"
      *ngFor="let msg of msgList; let i = index; "
      id="{{msg.uid}}"
      (click)="onMsgSelected(msg)"
    >
      <div
        *ngIf="msg.sender !== my_uid && !msg.is_deleted && !msg.deleted_by?.includes(my_uid)"
        class="chat-box d-flex received"
      >
        <div class="chat">
          <div
            [ngClass]="{'chat_detail': true, 'msg-selected':msgSelected === msg}"
          >
            <div class="profile_img center_img">
              <img
                class="animate__animated animated__fadeIn"
                *ngIf="member_infos_obj[msg.sender]"
                [defaultImage]="defaultAvatar"
                [lazyLoad]="member_infos_obj[msg.sender].avatarPath!"
                class="crop_img"
              />
              <img
                *ngIf="!member_infos_obj[msg.sender]"
                [src]="defaultAvatar"
                class="crop_img"
              />
            </div>
            <div class="text">
              <h6>{{member_infos_obj[msg.sender]?.firstname}}</h6>
              <h2>{{msg.message}}</h2>
            </div>
          </div>

          <div class="attachment" *ngIf="msg.image" (click)="openImage(msg)">
            <img src="{{msg.image}}" />
          </div>
        </div>
        <p>{{msg.date_ISO | dateChatFormat}}</p>
      </div>

      <div
        *ngIf="msg.sender === my_uid && !msg.is_deleted && !msg.deleted_by?.includes(my_uid)"
        class="chat-box d-flex send"
      >
        <p>{{msg.date_ISO | dateChatFormat}}</p>
        <div class="chat">
          <div
            [ngClass]="{'chat_detail': true, 'ion-justify-content-end': true, 'msg-selected':msgSelected === msg}"
          >
            <div class="text">
              <h6>Vous</h6>
              <h2>{{msg.message}}</h2>
            </div>
            <div class="profile_img center_img">
              <img src="{{my_avatar}}" class="crop_img" />
            </div>
          </div>
          <div *ngIf="msg.image" class="attachment" (click)="openImage(msg)">
            <img src="{{msg.image}}" />
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="pendingAttachment" class="chat-box d-flex send">
      <p>Now</p>
      <div class="chat">
        <div class="chat_detail ion-justify-content-end">
          <div class="text">
            <h6>Vous</h6>
            <h2>{{userInput}}</h2>
          </div>

          <div class="profile_img center_img">
            <img src="{{my_avatar}}" class="crop_img" />
          </div>
        </div>
        <div class="attachment">
          <img src="{{pendingAttachment}}" />
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border ion-no-padding">
  <div
    class="bg-theme d-flex"
    [ngClass]="viewType === '' ? 'option':'option active'"
  >
    <ion-icon class="zmdi zmdi-image" (click)="openGallery()"></ion-icon>
    <ion-icon class="zmdi zmdi-camera" (click)="takePhoto()"></ion-icon>
    <ion-icon class="zmdi zmdi-close" (click)="setViewType('')"></ion-icon>
  </div>

  <ion-toolbar style="--background: none">
    <div slot="start">
      <ion-button fill="clear" (click)="setViewType('active')">
        <ion-icon
          color="medium"
          name="attach-outline"
          slot="icon-only"
        ></ion-icon>
      </ion-button>
    </div>
    <ion-item lines="none" class="ion-no-padding">
      <ion-input
        type="text"
        [(ngModel)]="userInput"
        placeholder="{{ 'type_your_message' | translate}} "
      ></ion-input>
    </ion-item>

    <ion-button slot="end" fill="clear" (click)=" sendMsg()">
      <ion-icon name="send" color="medium" slot="icon-only"> </ion-icon>

      <!-- <ion-icon class="zmdi zmdi-mic ion-text-end"></ion-icon> -->
    </ion-button>
  </ion-toolbar>
</ion-footer>

<!-- <ion-popover trigger="popover-button" [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item [button]="true" [detail]="false">Option 1</ion-item>
        <ion-item [button]="true" [detail]="false">Option 2</ion-item>
        <ion-item [button]="true" id="nested-trigger">More options...</ion-item>

        <ion-popover
          trigger="nested-trigger"
          [dismissOnSelect]="true"
          side="end"
        >
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item [button]="true" [detail]="false"
                  >Nested option</ion-item
                >
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover> -->
