<ion-header class="bg_transparent">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="profile d-flex active">
        <div
          *ngIf="agendaEvent.avatar"
          class="profile_img_box"
          (click)="groupinfo()"
        >
          <div class="profile_img">
            <img src="{{agendaEvent.avatar}}" />
          </div>
        </div>
        <h2 (click)="groupinfo()">{{agendaEvent.title}}</h2>
        <span class="end">
          <ion-icon class="zmdi zmdi-more-vert ion-text-center"></ion-icon>
        </span>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon
        tappable
        slot="end"
        name="ellipsis-vertical"
        color="light"
        (click)="openMenu($event)"
      >
      </ion-icon>
      <ion-icon
        *ngIf="msgSelected"
        tappable
        slot="end"
        name="trash-outline"
        color="light"
        (click)="deleteMsg($event)"
      >
      </ion-icon>
      <ion-icon
        *ngIf="msgSelected"
        tappable
        slot="end"
        name="warning-outline"
        color="light"
        (click)="reportMsg($event)"
      >
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <div class="category_div">
    <div class="menu">
      <div class="item" *ngFor="let member of member_infos">
        <ion-thumbnail
          (click)="onSelectUser(member, $event)"
          [ngClass]="{
          'thumb-kid': member.dyspoStatus === UserDyspoStatus.DYSPOWITHKIDS,
          'thumb-nokids': member.dyspoStatus === UserDyspoStatus.DYSPO,
          'thumb-nodyspo': member.dyspoStatus === UserDyspoStatus.NODYSPO,
          'animate__animated animate__zoomIn': true
        }"
        >
          <img src="{{ member.avatarPath }}" />
          <!-- <ion-badge
          *ngIf="member.agendaEvents!.length > 0"
          name="warning-outline"
          color="danger"
          class="thumbnail-badge"
          >{{ member.agendaEvents!.length }}</ion-badge
        > -->
          <ion-icon
            *ngIf="member.is_my_friend === false"
            class="zmdi zmdi-plus end"
          ></ion-icon>
        </ion-thumbnail>

        <ion-label>{{ member.firstname }}</ion-label>
      </div>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="chat_container d-flex" (scrollPosition)="onScroll($event)">
    <div class="chat-box d-flex received">
      <div class="chat">
        <div class="chat_detail">
          <div class="profile_img center_img">
            <img src="assets/img/2.png" class="crop_img" />
          </div>
          <div class="text">
            <h6>Azler Hopson</h6>
            <h2>Hey, Whats up?</h2>
          </div>
        </div>
      </div>
      <p>12:02 pm</p>
    </div>

    <div class="chat-box d-flex send">
      <p>12:02 pm</p>
      <div class="chat">
        <div class="chat_detail">
          <div class="text">
            <h6>You</h6>
            <h2>Okey ! Where to meet?</h2>
          </div>
          <div class="profile_img center_img">
            <img src="assets/img/8.png" class="crop_img" />
          </div>
        </div>
      </div>
    </div>

    <div class="chat-box d-flex received">
      <div class="chat">
        <div class="chat_detail">
          <div class="profile_img center_img">
            <img src="assets/img/1.png" class="crop_img" />
          </div>
          <div class="text">
            <h6>Luicy Williams</h6>
            <h2>Found best place !!</h2>
          </div>
        </div>

        <div class="attachment">
          <img src="assets/img/map.png" />
        </div>
      </div>
      <p>12:04 pm</p>
    </div>

    <ng-container *ngFor="let msg of msgList">
      <div *ngIf="msg.sender !== my_uid" class="chat-box d-flex received">
        <div class="chat">
          <div class="chat_detail">
            <div class="profile_img center_img">
              <img
                class="animate__animated animated__fadeIn"
                *ngIf="member_infos_obj[msg.sender]"
                [defaultImage]="defaultAvatar"
                [lazyLoad]="member_infos_obj[msg.sender].avatarPath!"
                class="crop_img"
              />
              <img
                *ngIf="!member_infos_obj[msg.sender]"
                [src]="defaultAvatar"
                class="crop_img"
              />
            </div>
            <div class="text">
              <h6>{{member_infos_obj[msg.sender]?.firstname}}</h6>
              <h2>{{msg.message}}</h2>
            </div>
          </div>

          <div class="attachment" *ngIf="msg.image">
            <img src="assets/img/map.png" />
          </div>
        </div>
        <p>{{msg.date_ISO | dateChatFormat}}</p>
      </div>

      <div *ngIf="msg.sender === my_uid" class="chat-box d-flex send">
        <p>{{msg.date_ISO | dateChatFormat}}</p>
        <div class="chat">
          <div class="chat_detail">
            <div class="text">
              <h6>Vous</h6>
              <h2>{{msg.message}}</h2>
            </div>
            <div class="profile_img center_img">
              <img src="{{my_avatar}}" class="crop_img" />
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ion-content>

<ion-footer class="form animate__animated animate__slideInUp delay_3">
  <ion-list
    lines="none"
    [ngClass]="viewType === 'active' ? 'list active':'list'"
  >
    <div class="option bg-theme d-flex">
      <ion-icon class="zmdi zmdi-file-text"></ion-icon>
      <ion-icon class="zmdi zmdi-headset-mic"></ion-icon>
      <ion-icon class="zmdi zmdi-account-calendar"></ion-icon>
      <ion-icon class="zmdi zmdi-pin"></ion-icon>
      <ion-icon class="zmdi zmdi-image"></ion-icon>
      <ion-icon class="zmdi zmdi-camera"></ion-icon>
      <ion-icon class="zmdi zmdi-close" (click)="setViewType('')"></ion-icon>
    </div>
    <ion-item lines="none">
      <div class="item_inner d-flex">
        <ion-icon class="zmdi zmdi-mood" ion-text-start></ion-icon>
        <ion-input
          type="text"
          [(ngModel)]="userInput"
          placeholder="{{ 'type_your_message' | translate}} "
        ></ion-input>
        <div>
          <ion-button fill="clear" slot="end" (click)=" sendMsg()">
            <ion-icon name="send" color="medium" size="large"> </ion-icon>
          </ion-button>
        </div>
        <div class="end icon_box">
          <ion-icon
            class="zmdi zmdi-attachment-alt ion-text-end"
            (click)="setViewType('active')"
          ></ion-icon>
          <ion-icon class="zmdi zmdi-mic ion-text-end"></ion-icon>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-footer>
