ion-header {
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    display: block;
    width: 100%;
    height: 97px;
    background: linear-gradient(
      to bottom,
      rgba(134, 143, 181, 0.82) 0%,
      rgba(134, 143, 181, 0.81) 1%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .thumb-avatar-event {
    height: 60px;
    width: 60px;
    --border-radius: 50%;
    padding: 5px;
    padding-left: 0px;
  }

  ion-title {
    padding: 0 0px !important;
    .profile {
      padding-left: 2px;

      .title-container {
        margin: 0 10px;
        width: fit-content;
        max-width: calc(100% - 100px);
        h2 {
          margin: 0;
          font-size: 1rem;
          font-weight: 500;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        h3 {
          margin: 0;
          font-size: 0.7rem;
          font-weight: 500;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      span {
        &.end {
          min-width: 40px;
          display: block;
          height: fit-content;
          position: relative;
          top: 5px;

          ion-icon {
            font-size: 1.35rem;
            min-width: 40px;
          }
        }
      }
    }
  }
}

ion-content {
  //--background: var(--transparent) !important;
  //--background: url('../../../../assets/img/bg.png') no-repeat cover;

  --background: none;
  background-image: url("../../../../assets/fd_ecran_principal.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.chat_container {
  padding: 10px 16px;
  flex-wrap: wrap;

  .chat-box {
    margin-bottom: 13px;
    position: relative;
    overflow: hidden;

    // width: fit-content !important;
    align-items: flex-start !important;

    p {
      margin: 0;
      //color: var(--white);
      font-size: 0.6rem;
      font-weight: 400;
      min-width: 60px;
      opacity: 0.7;
      margin-top: 23px;
    }

    .chat {
      border-radius: 6px;
      overflow: hidden;

      .chat_detail {
        display: flex;
        align-items: flex-start;
        padding: 7px 7px;

        .profile_img {
          min-width: 50px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }

        .text {
          color: var(--white);
          margin: 0;
          font-size: 0.95rem;
          letter-spacing: 0;
          h6 {
            margin: 0;
            font-size: 0.65rem;
            color: var(--text-dark);
            padding-bottom: 5px;
            font-weight: 400;
          }

          // h2 {
          //   margin: 0;
          //   font-size: 0.95rem;
          //   letter-spacing: 0;
          // }
        }
      }

      .attachment {
        max-height: 200px;
        width: 100%;
        overflow: hidden;
      }
    }

    &.received {
      // margin-left: 0;
      // margin-right: auto;
      justify-content: flex-start;
      p {
        text-align: right;
      }

      .chat {
        background: var(--white);

        .chat_detail {
          // padding-right: 20px;

          .profile_img {
            margin-right: 15px;
          }

          .text {
            color: var(--text-black);
            text-align: left;
            white-space: pre-wrap;
          }
        }
      }
    }

    &.send {
      //margin-right: 0;
      //margin-left: auto;
      justify-content: flex-end;
      p {
        text-align: right;
        padding-right: 3px;
      }

      .chat {
        background: var(--primary);

        .chat_detail {
          padding-left: 20px;

          .profile_img {
            margin-left: 15px;
          }

          .text {
            color: var(--white);
            text-align: right;
            white-space: pre-wrap;

            h6 {
              color: var(--white);
            }

            h2 {
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}

ion-footer {
  //padding: 0 5px;

  &::before,
  &::after {
    display: none;
  }

  ion-input {
    font-size: 0.95rem !important;
    --border-style: none;
  }

  .option {
    padding: 0px 0;
    position: absolute;
    top: 0;
    z-index: 99;
    width: 0;
    overflow: hidden;
    border-radius: 50px;
    height: 100%;
    background: var(--primary);

    &.active {
      width: 200px;
      transition: all 0.2s;
    }

    ion-icon {
      color: var(--white);
      display: block;
      margin: 0 auto;
      font-size: 1.2rem;
    }
  }
}

.category_div {
  overflow: scroll;
  display: flex;
  flex-direction: row;
  height: 88px;
  background: #f4f5f8;
  // background: linear-gradient(
  //   to bottom,
  //   rgba(134, 143, 181, 0.82) 0%,
  //   rgba(134, 143, 181, 0.81) 1%,
  //   rgba(0, 0, 0, 0) 100%
  // );
  padding: 5px 5px 5px 0px;
  .menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    .item {
      border-radius: 50%;
      background: transparent !important;
      width: max-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background: #f4f5f8;
      ion-label {
        font-size: 10px;
        color: var(--text-black);
      }
      ion-thumbnail {
        border-radius: 50%;
        padding: 2px;
        margin: 2px;
        height: 60px;
        width: 60px;
        --background: transparent;
        //border: 2px solid rgb(255, 95, 122);
        position: relative;

        ion-icon {
          background: rgb(55, 108, 207);
          border-radius: 20px;
          position: absolute;
          bottom: -5px;
          right: -5px;
          color: white;
          font-size: 20px;
        }
        img {
          border-radius: 50%;
        }
      }
    }
  }
}

ion-fab {
  position: relative;
}

.msg-selected {
  //background-color: rgb(177, 177, 177);
  opacity: 0.4;
}

.thumbnail-badge {
  position: absolute;
  top: -5px; /* Ajustez cette valeur pour positionner verticalement */
  right: -5px; /* Ajustez cette valeur pour positionner horizontalement */
  font-size: 12px; /* Taille du texte du badge */
  width: 9px; /* Largeur du badge */
  height: 9px; /* Hauteur du badge */
  border-radius: 8px; /* Pour créer un badge circulaire */
  background: var(--text-no-dyspo); /* Couleur de fond du badge */
  color: white; /* Couleur du texte du badge */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000000;
}

.avatar-thumbnail-sender {
  --size: 25px;
  --border-radius: 50%;
  margin-left: 7px;
}

.avatar-thumbnail-received {
  --border-radius: 50%;
  --size: 25px;
  margin-right: 7px;
}
