ion-content {
  --background: rgba(0, 0, 1, 0.1) !important;
  backdrop-filter: blur(3px);
}

ion-toolbar {
  --background: transparent;
}

.img_box {
  width: calc(100% - 49px);
  background-color: var(--ion-color-tertiary);
  overflow: scroll;
  opacity: 0.85;
  padding: 10px;
  padding-top: 0px;
  margin: auto;
  height: fit-content;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: -106px;
  color: white;
  //border-radius: 10px;
}
