<ion-content (click)="dismiss()">
  <div class="img_box center_img">
    <div
      style="
        padding-top: var(--ion-safe-area-top);
        justify-content: space-between;
        border-bottom: 1px solid var(--text-dyspo);
      "
      class="d-flex"
    >
      <div style="display: flex; align-items: center">
        <ion-icon
          name="information-circle-outline"
          style="color: var(--text-dyspo); font-size: 36px; margin-right: 5px"
        ></ion-icon>
        <ion-text
          style="
            color: var(--text-dyspo);
            font-size: 1.6rem;
            position: relative;
            top: -2px;
          "
          >Tuto dyspo!</ion-text
        >
      </div>
      <div>
        <ion-button
          slot="start"
          (click)="close()"
          fill="clear"
          style="position: relative; right: -16px"
          class="white-btn"
        >
          <ion-icon
            slot="icon-only"
            name="close-circle-outline"
            style="color: var(--text-dyspo); font-size: 36px"
          ></ion-icon>
        </ion-button>
      </div>
    </div>
    <div [innerHTML]="text" style="text-align: center"></div>
  </div>
</ion-content>
