<ion-tabs>
  <ion-tab-bar slot="bottom" class="dyspo-tab-bar">

    <ion-tab-button tab="user-status" class="dyspo-tab-btn">
      <span class="icon-ghost tab-icon-sli"></span>
      <ion-label>Statut</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="agenda" class="dyspo-tab-btn">
      <ion-icon class="tab-icon tab-icon-off" name="calendar-outline"></ion-icon>
      <ion-icon class="tab-icon tab-icon-on"  name="calendar"></ion-icon>
      <ion-label>Calendrier</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="friends" class="dyspo-tab-btn">
      <ion-icon class="tab-icon tab-icon-off" name="people-outline"></ion-icon>
      <ion-icon class="tab-icon tab-icon-on"  name="people"></ion-icon>
      <ion-label>Amis</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="group-list" class="dyspo-tab-btn">
      <div class="tab-chat-wrap">
        <ion-icon class="tab-icon tab-icon-off" name="chatbubbles-outline"></ion-icon>
        <ion-icon class="tab-icon tab-icon-on"  name="chatbubbles"></ion-icon>
        <div class="tab-unread-dot" *ngIf="unreadMessagesCount > 0">
          {{ unreadMessagesCount > 9 ? '9+' : unreadMessagesCount }}
        </div>
      </div>
      <ion-label>Discussions</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="parametres" class="dyspo-tab-btn">
      <ion-icon class="tab-icon tab-icon-off" name="person-outline"></ion-icon>
      <ion-icon class="tab-icon tab-icon-on"  name="person"></ion-icon>
      <ion-label>Compte</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
