<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="user-status">
      <ion-icon aria-hidden="true" class="icon-ghost"></ion-icon>
      <ion-label>Statut</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="agenda">
      <ion-icon aria-hidden="true" class="icon-calendar"></ion-icon>
      <ion-label>Calendrier</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="friends">
      <ion-icon aria-hidden="true" class="icon-users"></ion-icon>
      <ion-label>Amis</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="group-list">
      <ion-icon aria-hidden="true" class="icon-speech"></ion-icon>
      <ion-label>Discussions</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="parametres">
      <ion-icon class="icon-equalizer"></ion-icon>
      <ion-label>Mon Compte</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="pro-calendar">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>ProCalendar</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
