<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button slot="start" text=""></ion-back-button>
    </ion-buttons>
    <ion-title style="padding-left: 0px"><h1>{{ pageTitle }}</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg_color" [fullscreen]="true">
  <div class="header-form-ct">
    <div class="profile">
      <div class="input-title">
        <ion-input
          maxlength="30"
          autocapitalize="words"
          [(ngModel)]="agendaEvent!.title"
          placeholder="Saisissez un Titre"
          required
        ></ion-input>
      </div>
    </div>
  </div>

  <ion-card *ngIf="is_multi">
    <div style="font-size: 1.12em; margin-left: 8px; color: rgb(0, 0, 0)">
      <ion-select
        aria-label="Type evenement"
        [(ngModel)]="agendaEvent!.type"
        mode="md"
        color="dark"
      >
        <ion-avatar
          slot="start"
          style="width: 40px; height: 40px; margin-right: 6px"
        >
          <ion-img [src]="getIconTypeEvent()"></ion-img>
        </ion-avatar>
        <ion-select-option [value]="agendaEventType.KIDS"
          >Kids</ion-select-option
        >
        <ion-select-option [value]="agendaEventType.NOKIDS"
          >No Kids</ion-select-option
        >
        <ion-select-option [value]="agendaEventType.FREE">
          <span style="color: var(--text-dyspo-free)"
            >Avec ou sans Kids</span
          ></ion-select-option
        >
      </ion-select>
    </div>
  </ion-card>

  <!-- <div style="height: 50px; width: 100%"></div> -->
  <ion-card>
    <ion-item button="true" id="open-time-item" lines="none">
      <ion-text slot="start">{{agendaEvent?.start_date_formatted}}</ion-text>
      <ion-text slot="end">{{agendaEvent?.start_time_formatted}}</ion-text>
      <ion-popover
        #popover_time
        trigger="open-time-item"
        show-backdrop="false"
        size="cover"
      >
        <ng-template>
          <ion-datetime
            #datetime_starttime
            presentation="date-time"
            showDefaultButtons="true"
            doneText="OK"
            hour-cycle="h23"
            locale="fr-FR"
            [value]="agendaEvent?.startISO"
            cancelText="Annuler"
            [min]="min_time_ISO_start"
            [preferWheel]="true"
            (ionChange)="onStartTimeChanged($event)"
            ><span slot="time-label">Heure</span></ion-datetime
          >
        </ng-template>
      </ion-popover>
    </ion-item>

    <ion-item button="true" id="open-end-time-item" lines="none">
      <ion-text slot="start">{{agendaEvent?.end_date_formatted}}</ion-text>
      <ion-text slot="end">{{agendaEvent?.end_time_formatted}}</ion-text>

      <ion-popover
        #popover_time
        trigger="open-end-time-item"
        show-backdrop="false"
        size="cover"
      >
        <ng-template>
          <ion-datetime
            presentation="date-time"
            [preferWheel]="true"
            showDefaultButtons="true"
            doneText="OK"
            hour-cycle="h23"
            locale="fr-FR"
            [value]="agendaEvent?.endISO"
            [min]="min_time_ISO_end"
            [max]="max_time_ISO_end"
            cancelText="Annuler"
            (ionChange)="onEndTimeChanged($event)"
          >
            <span slot="time-label">Heure</span></ion-datetime
          >
        </ng-template>
      </ion-popover>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="is_multi">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label> {{getNbMembers()}}</ion-label>
        </ion-item>
        <div
          class="ion-padding"
          slot="content"
          style="padding-bottom: 0 !important"
        >
          <div style="max-height: 650px; min-height: 300px; width: 100%">
            <!-- <div style="padding: 4px 4px 0px 4px">{{getNbMembers()}}</div> -->
            <ion-row class="friends-wrapper">
              <div class="category_div">
                <div class="menu">
                  <div
                    class="item animate__animated animate__fadeIn"
                    *ngFor="let member of members"
                  >
                    <ion-thumbnail
                      (click)="onSelectUser(member, $event)"
                      [ngClass]="{
                      'thumb-kid': member.dyspoStatus === UserDyspoStatus.DYSPOWITHKIDS,
                      'thumb-nokids': member.dyspoStatus === UserDyspoStatus.DYSPO,
                      'thumb-nodyspo': member.dyspoStatus === UserDyspoStatus.NODYSPO
                    }"
                    >
                      <img src="{{ member.avatarPath }}" />
                      <ion-badge
                        *ngIf="member.agendaEvents!.length > 0"
                        name="warning-outline"
                        color="danger"
                        class="thumbnail-badge"
                        >{{ member.agendaEvents!.length }}</ion-badge
                      >
                      <ion-icon
                        *ngIf="member.is_my_friend === false"
                        class="zmdi zmdi-plus end"
                      ></ion-icon>
                    </ion-thumbnail>
                    <ion-label
                      >{{ member.uid === uid ? 'Vous' : member.firstname
                      }}</ion-label
                    >
                  </div>
                </div>
              </div>
            </ion-row>
            <app-friends-selector
              [agendaEvent]="agendaEvent!"
              [startTime]="startTime"
              [endTime]="endTime"
              (friendSelected)="onFriendSelected($event)"
              (groupSelected)="onGroupSelected($event)"
            ></app-friends-selector>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card>

  <ion-card *ngIf="!is_multi && mode==='new'">
    <ion-item lines="none">
      <ion-select
        label="Recurrence"
        [(ngModel)]="agendaEvent!.recurrence"
        (ionChange)="onRecurrenceChanged($event)"
        placeholder="Recurrence"
      >
        <ion-select-option [value]="AgendaEventRecurrence.ONE"
          >1 fois</ion-select-option
        >
        <ion-select-option [value]="AgendaEventRecurrence.DAILY"
          >Quotidienne</ion-select-option
        >
        <ion-select-option [value]="AgendaEventRecurrence.WEEKLY"
          >Hebdomadaire</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item
      lines="none"
      *ngIf="agendaEvent?.recurrence !== AgendaEventRecurrence.ONE"
    >
      <ion-select
        *ngIf="agendaEvent?.recurrence === AgendaEventRecurrence.WEEKLY"
        label="Pendant"
        [(ngModel)]="agendaEvent!.recurrence_nb"
        placeholder="Pendant"
      >
        <ion-select-option *ngFor="let m of [1,2,3,4,5,6]" value="{{m}}"
          >{{m}} mois</ion-select-option
        >
      </ion-select>
      <ion-select
        *ngIf="agendaEvent?.recurrence === AgendaEventRecurrence.DAILY"
        label="Pendant"
        [(ngModel)]="agendaEvent!.recurrence_nb"
        placeholder="Pendant"
      >
        <ion-select-option *ngFor="let s of [1,2,3,4]" value="{{s}}"
          >{{s}} semaines</ion-select-option
        >
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-searchbar
      [(ngModel)]="autocompletePlaceInput.input"
      (ngModelChange)="updateSearchResults()"
      placeholder="Entrez une adresse"
      (ionClear)="clearAutocomplete()"
    >
    </ion-searchbar>
    <ion-list
      class="ion-no-margin ion-no-padding"
      [hidden]="autocompletePlaces.length === 0"
    >
      <ion-item
        *ngFor="let place of autocompletePlaces"
        tappable
        (click)="selectSearchResult(place)"
      >
        {{ place.description }}
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card *ngIf="is_multi">
    <div class="ion-padding">
      <ion-checkbox [(ngModel)]="allCanEdit" labelPlacement="end"
        >Autoriser l'édition pour tout le monde</ion-checkbox
      >
    </div>
  </ion-card>
  <ion-card *ngIf="!is_multi">
    <div class="ion-padding">
      <ion-checkbox [(ngModel)]="allCanSeeTitle" labelPlacement="end"
        >Afficher le titre de l'événement pour tout le monde</ion-checkbox
      >
    </div>
  </ion-card>

  <div class="item_inner">
    <div
      *ngIf="agendaEvent?.avatar"
      (click)="takePhotoPrompt()"
      style="background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-width: 50%;
      max-width: 60%;
      min-height: 150px;
      margin: auto;
      padding: 16px;
      margin-bottom: 24px;
      background-image: url('{{agendaEvent?.avatar}}');"
    >
      <!-- <ion-img src="{{agendaEvent?.avatar}}" /> -->
    </div>
  </div>

  <ion-button
    [disabled]=""
    class="dyspo-button"
    fill="solid"
    color="dark"
    expand="full"
    mode="ios"
    (click)="saveOrUpdateEvent()"
  >
    Enregistrer l'évènement
    <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
  </ion-button>

  <!-- <ion-toolbar class="footer">
    <ion-buttons slot="end">
      <ion-button [disabled]="" fill="solid" (click)="saveOrUpdateEvent()">
        Enregistrer l'évènement
        <ion-icon slot="start" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar> -->

  <ion-popover
    #popoverUserEvents
    [isOpen]="isPopoverUserEventsOpen"
    (didDismiss)="isPopoverUserEventsOpen = false"
  >
    <ng-template>
      <ion-item
        (click)="invite(selectedUser!)"
        *ngIf="selectedUserFriendStatus === FriendStatus.NOFRIEND"
      >
        Demander en Ami
      </ion-item>
      <ion-item *ngIf="selectedUserFriendStatus !== FriendStatus.NOFRIEND">
        {{ selectedUserFriendStatusLabel }}
      </ion-item>
      <ion-list *ngIf="selectedUserEvents && selectedUserEvents.length > 0">
        <ion-note style="padding-left: 10px">Indisponibilités</ion-note>
        <ion-item *ngFor="let agEv of selectedUserEvents">
          <ion-text color="danger" style="font-size: 0.75rem"
            >{{ getOtherEventLabel(agEv) }}</ion-text
          >
        </ion-item>
      </ion-list>
    </ng-template>
  </ion-popover>
</ion-content>
