<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start" title=""></ion-back-button>
    </ion-buttons>
    <ion-title>Créer un evenement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Nouvel Evenement</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input
      [(ngModel)]="agendaEvent!.title"
      label="Titre"
      labelPlacement="floating"
      placeholder="Saisissez un Titre"
      required
    ></ion-input>
  </ion-item>

  <ion-item button="true" id="open-time-item" lines="none">
    <ion-text slot="start">{{agendaEvent?.start_date_formatted}}</ion-text>
    <ion-text slot="end">{{agendaEvent?.start_time_formatted}}</ion-text>
    <ion-popover
      #popover_time
      trigger="open-time-item"
      show-backdrop="false"
      size="cover"
    >
      <ng-template>
        <ion-datetime
          #datetime_starttime
          presentation="date-time"
          showDefaultButtons="true"
          doneText="OK"
          hour-cycle="h23"
          locale="fr-FR"
          [value]="agendaEvent?.startISO"
          cancelText="Annuler"
          [min]="min_time_ISO_start"
          [preferWheel]="true"
          (ionChange)="onStartTimeChanged($event)"
          ><span slot="time-label">Heure</span></ion-datetime
        >
      </ng-template>
    </ion-popover>
  </ion-item>

  <ion-item button="true" id="open-end-time-item" lines="none">
    <ion-text slot="start">{{agendaEvent?.end_date_formatted}}</ion-text>
    <ion-text slot="end">{{agendaEvent?.end_time_formatted}}</ion-text>

    <ion-popover
      #popover_time
      trigger="open-end-time-item"
      show-backdrop="false"
      size="cover"
    >
      <ng-template>
        <ion-datetime
          presentation="date-time"
          [preferWheel]="true"
          showDefaultButtons="true"
          doneText="OK"
          hour-cycle="h23"
          locale="fr-FR"
          [value]="agendaEvent?.endISO"
          [min]="min_time_ISO_end"
          cancelText="Annuler"
          (ionChange)="onEndTimeChanged($event)"
        >
          <span slot="time-label">Heure</span></ion-datetime
        >
      </ng-template>
    </ion-popover>
  </ion-item>

  <ion-card>
    <ion-card-content>
      <ion-icon slot="end" color="primary" icon="body-outline"></ion-icon>
      <ion-radio-group [value]="agendaEvent?.type">
        <ion-item lines="none" class="ion-no-margin ion-no-padding">
          <ion-radio labelPlacement="start" [value]="agendaEventType.KIDS"
            >Avec Enfants</ion-radio
          >
        </ion-item>
        <ion-item lines="none" class="ion-no-margin ion-no-padding">
          <ion-radio labelPlacement="start" [value]="agendaEventType.NOKIDS"
            >Sans Enfant</ion-radio
          >
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="createEvent()">Créer</ion-button>
</ion-content>
