<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>friends-selection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Amis selection</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-segment
      mode="ios"
      [(ngModel)]="selectSegment"
      (ionChange)="segmentChanged($event)"
      style="z-index: 1000"
    >
      <ion-segment-button
        [value]="friendSelectionType.FRIENDS"
        class="segmentButton"
        color="light"
      >
        <ion-icon name="person"></ion-icon>
        <ion-label>Mes amis</ion-label>
      </ion-segment-button>
      <ion-segment-button [value]="friendSelectionType.GROUP" color="light">
        <ion-icon name="person-add"></ion-icon>
        <ion-label>Mes groupes</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div
      *ngIf="selectSegment === friendSelectionType.FRIENDS"
      class="ion-no-margin"
      style="width: 100%"
    >
      <div
        id="contsainer-friends"
        *ngIf="friends && friends.length === 0"
        style="width: 100%; text-align: center"
      >
        <ion-icon
          name="person-outline"
          class="empty-icon-circle icon-large empty-icon-color"
          style="margin-top: 30px"
        ></ion-icon>
        <br />
        <strong class="capitalize">
          <ion-text style="color: rgb(100, 100, 100)"
            >Vous n'avez pas encore d'amis</ion-text
          >
        </strong>
      </div>
      <ion-list *ngIf="friends && friends.length > 0">
        <ion-item *ngFor="let friend of friends">
          <ion-avatar slot="start">
            <img src="{{ friend.avatarPath }}" />
          </ion-avatar>

          <div>
            <ion-row class="ion-align-items-center">
              <p class="ion-no-margin">
                {{ friend.lastname | uppercase }} {{ friend.firstname }}
              </p>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <p class="ion-no-margin">Dyspo?</p>
            </ion-row>
          </div>
          <ion-buttons slot="end">
            <ion-button color="primary" (click)="add(friend)">
              <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
    </div>

    <div
      *ngIf="selectSegment === friendSelectionType.GROUP"
      class="ion-no-margin"
      style="width: 100%"
    >
      <div
        id="contsainer-friends"
        *ngIf="friends && friends.length === 0"
        style="width: 100%; text-align: center"
      >
        <ion-icon
          name="person-outline"
          class="empty-icon-circle icon-large empty-icon-color"
          style="margin-top: 30px"
        ></ion-icon>
        <br />
        <strong class="capitalize">
          <ion-text style="color: rgb(100, 100, 100)"
            >Vous n'avez pas encore créé de groupe d'amis</ion-text
          >
        </strong>
      </div>
      <ion-list *ngIf="friends && friends.length > 0">
        <ion-item *ngFor="let friend of friends">
          <ion-avatar slot="start">
            <img src="{{ friend.avatarPath }}" />
          </ion-avatar>

          <div>
            <ion-row class="ion-align-items-center">
              <p class="ion-no-margin">
                {{ friend.lastname | uppercase }} {{ friend.firstname }}
              </p>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <p class="ion-no-margin">Dyspo?</p>
            </ion-row>
          </div>
          <ion-buttons slot="end">
            <ion-button color="primary" (click)="add(friend)">
              <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-content>
