<ion-segment
  mode="md"
  [(ngModel)]="selectSegment"
  (ionChange)="segmentChanged($event)"
  style="z-index: 1000"
>
  <ion-segment-button
    value="{{ friendSelectionType.FRIENDS }}"
    class="segmentButton"
    color="light"
  >
    <!-- <ion-icon name="person"></ion-icon> -->
    <ion-label>Mes amis</ion-label>
  </ion-segment-button>
  <ion-segment-button
    value="{{ friendSelectionType.GROUP }}"
    color="light"
    class="segmentButton"
  >
    <!-- <ion-icon name="person-add"></ion-icon> -->
    <ion-label>Mes groupes</ion-label>
  </ion-segment-button>
</ion-segment>

<div
  *ngIf="selectSegment === friendSelectionType.FRIENDS"
  class="ion-no-margin"
  style="width: 100%; max-height: 500px; overflow: scroll"
>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ng-container *ngFor="let checkedFriend of checkedFriends; let i = index">
        <ion-col size="3" size-md="2" size-lg="1">
          <div
            style="width: 100%; display: flex; justify-content: center"
            [ngClass]="{ 'friend-is-disabled': checkedFriend.disable }"
          >
            <!-- Contenu de chaque élément -->
            <ion-thumbnail
              (click)="onClick(checkedFriend, $event)"
              [ngClass]="{
                kid: checkedFriend.dyspo === UserDyspoStatus.DYSPOWITHKIDS,
                nokids: checkedFriend.dyspo === UserDyspoStatus.DYSPO,
                nodyspo: checkedFriend.dyspo === UserDyspoStatus.NODYSPO,
                'dyspo-undefined':
                  checkedFriend.dyspo === UserDyspoStatus.UNDEFINED,
                'ion-thumbnail-friend-grid': true
              }"
            >
              <img src="{{ checkedFriend.friend.userData?.avatarPath }}" />
              <!-- <ion-badge
                *ngIf="checkedFriend.agendaEvents.length > 0"
                name="warning-outline"
                color="danger"
                class="thumbnail-badge"
                >{{ checkedFriend.agendaEvents.length }}</ion-badge
              > -->
              <div
                *ngIf="checkedFriend.agendaEvents.length > 0"
                name="warning-outline"
                class="thumbnail-badge"
              ></div>
              <div
                *ngIf="checkedFriend.isChecked"
                class="d-flex ion-align-items-center thumbnail-checked animate__animated animate__zoomIn"
              >
                <ion-icon name="checkmark-circle-outline"></ion-icon>
              </div>
            </ion-thumbnail>
          </div>

          <div style="text-align: center">
            <div style="font-size: 10px">
              <!-- {{ checkedFriend.friend.userData?.lastname }} -->
              {{ checkedFriend.friend.userData?.firstname }}
            </div>
          </div>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
  <div class="chip-container">
    <ion-chip [outline]="true"
      ><div class="chip-evt bg-color-kid">&nbsp;</div>
      Kids</ion-chip
    >
    <ion-chip [outline]="true"
      ><div class="chip-evt bg-color-nokids">&nbsp;</div>
      Dyspo</ion-chip
    >
    <ion-chip [outline]="true"
      ><div class="chip-evt bg-color-nodyspo">&nbsp;</div>
      Pas Dyspo</ion-chip
    >
  </div>
</div>

<div
  *ngIf="selectSegment === friendSelectionType.GROUP"
  class="ion-no-margin"
  style="width: 100%; max-height: 550px; overflow: scroll"
>
  <div
    id="contsainer-friends"
    *ngIf="friendGroups && friendGroups.length === 0"
    style="width: 100%; text-align: center"
  >
    <ion-icon
      name="person-outline"
      class="empty-icon-circle icon-large empty-icon-color"
      style="margin-top: 30px"
    ></ion-icon>
    <br />
    <strong class="capitalize">
      <ion-text style="color: rgb(100, 100, 100)"
        >Vous n'avez pas encore créé de groupe d'amis</ion-text
      >
    </strong>
  </div>
  <div *ngIf="friendGroups && friendGroups.length > 0">
    <ion-accordion-group>
      <ion-accordion *ngFor="let group of friendGroups">
        <ion-item slot="header" color="light">
          <div class="d-flex ion-justify-space-between" style="padding: 5px">
            <div class="d-flex" style="margin-right: 5px">
              <ion-thumbnail class="ion-thumbnail-group">
                <img src="{{ group.avatarPath }}" />
              </ion-thumbnail>

              <div style="font-size: 1rem">
                {{ group.label }}
              </div>
            </div>

            <ion-button
              size="small"
              fill="clear"
              (click)="addGroup(group, $event)"
            >
              <ion-icon name="add-circle-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </div>
        </ion-item>
        <div slot="content">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ng-container
                *ngFor="
                  let checkedFriend of group.checked_friends;
                  let i = index
                "
              >
                <ion-col size="3" size-md="2" size-lg="1">
                  <div
                    style="width: 100%; display: flex; justify-content: center"
                    [ngClass]="{ 'friend-is-disabled': checkedFriend.disable }"
                  >
                    <!-- Contenu de chaque élément -->
                    <ion-thumbnail
                      (click)="onClick(checkedFriend, $event)"
                      [ngClass]="{
                        kid:
                          checkedFriend.dyspo === UserDyspoStatus.DYSPOWITHKIDS,
                        nokids: checkedFriend.dyspo === UserDyspoStatus.DYSPO,
                        nodyspo:
                          checkedFriend.dyspo === UserDyspoStatus.NODYSPO,
                        'dyspo-undefined':
                          checkedFriend.dyspo === UserDyspoStatus.UNDEFINED,
                        'ion-thumbnail-friend-grid': true
                      }"
                    >
                      <img
                        src="{{ checkedFriend.friend.userData?.avatarPath }}"
                      />
                      <!-- <ion-badge
                        *ngIf="checkedFriend.agendaEvents.length > 0"
                        name="warning-outline"
                        class="thumbnail-badge"
                        >{{ checkedFriend.agendaEvents.length }}</ion-badge
                      > -->

                      <div
                        *ngIf="checkedFriend.agendaEvents.length > 0"
                        name="warning-outline"
                        class="thumbnail-badge"
                      ></div>

                      <div
                        *ngIf="checkedFriend.isChecked"
                        class="d-flex ion-align-items-center thumbnail-checked animate__animated animate__zoomIn"
                      >
                        <ion-icon name="checkmark-circle-outline"></ion-icon>
                      </div>
                    </ion-thumbnail>
                  </div>

                  <div style="text-align: center">
                    <div style="font-size: 10px">
                      <!-- {{ checkedFriend.friend.userData?.lastname }} -->
                      {{ checkedFriend.friend.userData?.firstname }}
                    </div>
                  </div>
                </ion-col>
              </ng-container>
            </ion-row>
          </ion-grid>
          <div class="chip-container">
            <ion-chip [outline]="true"
              ><div class="chip-evt bg-color-kid">&nbsp;</div>
              Kids</ion-chip
            >
            <ion-chip [outline]="true"
              ><div class="chip-evt bg-color-nokids">&nbsp;</div>
              Dyspo</ion-chip
            >
            <ion-chip [outline]="true"
              ><div class="chip-evt bg-color-nodyspo">&nbsp;</div>
              Pas Dyspo</ion-chip
            >
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
</div>

<ion-popover
  #popoverConfirmInvitEvent
  [isOpen]="isPopoverConfirmInvitEventOpen"
  (didDismiss)="isPopoverConfirmInvitEventOpen = false"
>
  <ng-template>
    <div class="popover-events-header" (click)="confirmInviteToEvent()">
      Inviter quand même
    </div>

    <ion-list *ngIf="selectedFriend && selectedFriend.agendaEvents.length > 0">
      <ion-note
        style="
          display: block;
          margin-bottom: 2px;
          width: 100%;
          padding: 4px;
          padding-top: 0px;
          text-align: center;
          font-size: 0.75em;
        "
        >Pas dyspo dans ces horaires:</ion-note
      >
      <div
        *ngFor="let agEv of selectedFriend.agendaEvents"
        class="ion-justify-content-center;text-align:center"
        style="width: 100%; display: flex; padding: 5px"
      >
        <ion-text
          style="
            font-size: 0.75rem;
            width: 100%;
            text-align: center;
            color: var(--text-no-dyspo);
          "
          >{{ getOtherEventLabel(agEv) }}</ion-text
        >
      </div>
    </ion-list>
  </ng-template>
</ion-popover>
