<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end"> </ion-buttons>
    <ion-title>Amis</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" shape="round" (click)="save()">
        Enregistrer
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment
    mode="md"
    [(ngModel)]="selectSegment"
    (ionChange)="segmentChanged($event)"
    style="z-index: 1000"
  >
    <ion-segment-button
      value="{{ friendSelectionType.FRIENDS }}"
      class="segmentButton"
      color="light"
    >
      <ion-icon name="person"></ion-icon>
      <ion-label>Mes amis</ion-label>
    </ion-segment-button>
    <ion-segment-button value="{{ friendSelectionType.GROUP }}" color="light">
      <ion-icon name="person-add"></ion-icon>
      <ion-label>Mes groupes</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div
    *ngIf="selectSegment === friendSelectionType.FRIENDS"
    class="ion-no-margin"
    style="width: 100%"
  >
    <div
      id="contsainer-friends"
      *ngIf="friends && friends.length === 0"
      style="width: 100%; text-align: center"
    >
      <ion-icon
        name="person-outline"
        class="empty-icon-circle icon-large empty-icon-color"
        style="margin-top: 30px"
      ></ion-icon>
      <br />
      <strong class="capitalize">
        <ion-text style="color: rgb(100, 100, 100)"
          >Vous n'avez pas encore d'amis</ion-text
        >
      </strong>
    </div>
    <ion-list class="friends-ct">
      <ion-item
        *ngFor="let checkedFriend of checkedFriends; let i = index"
        [ngClass]="getDelayClass(i)"
        class="animate__animated animate__slideInRight"
      >
        <ion-thumbnail
          slot="start"
          [ngClass]="{
            kid: checkedFriend.dyspo === UserDyspoStatus.DYSPOWITHKIDS,
            nokids: checkedFriend.dyspo === UserDyspoStatus.DYSPO,
            nodyspo: checkedFriend.dyspo === UserDyspoStatus.NODYSPO,
            'ion-thumbnail-friend': true
          }"
        >
          <img src="{{ checkedFriend.friend.userData?.avatarPath }}" />
          <ion-badge
            *ngIf="checkedFriend.agendaEvents.length > 0"
            name="warning-outline"
            color="danger"
            class="thumbnail-badge"
            >{{ checkedFriend.agendaEvents.length }}</ion-badge
          >
        </ion-thumbnail>

        <div class="text-box">
          <div>
            {{ checkedFriend.friend.userData?.lastname }}
            {{ checkedFriend.friend.userData?.firstname }}
          </div>
          <div *ngIf="checkedFriend.agendaEvents.length > 0">
            <div *ngFor="let e of checkedFriend.agendaEvents">
              <ion-text color="danger" style="font-size: 0.7rem"
                >A un autre evenement a {{ e.start_time_formatted }}
              </ion-text>
            </div>
          </div>
        </div>
        <ion-checkbox
          [disabled]="checkedFriend.disable"
          [(ngModel)]="checkedFriend.isChecked"
          (ionChange)="onCheckedFriendChange($event)"
          slot="end"
        ></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>

  <div
    *ngIf="selectSegment === friendSelectionType.GROUP"
    class="ion-no-margin"
    style="width: 100%"
  >
    <div
      id="contsainer-friends"
      *ngIf="friendGroups && friendGroups.length === 0"
      style="width: 100%; text-align: center"
    >
      <ion-icon
        name="person-outline"
        class="empty-icon-circle icon-large empty-icon-color"
        style="margin-top: 30px"
      ></ion-icon>
      <br />
      <strong class="capitalize">
        <ion-text style="color: rgb(100, 100, 100)"
          >Vous n'avez pas encore créé de groupe d'amis</ion-text
        >
      </strong>
    </div>
    <ion-list *ngIf="friendGroups && friendGroups.length > 0">
      <div class="groups-ct" *ngFor="let group of friendGroups">
        <ion-card>
          <ion-card-header class="ion-no-padding">
            <div class="d-flex ion-justify-space-between" style="padding: 5px">
              <div class="d-flex">
                <ion-thumbnail class="ion-thumbnail-group">
                  <img src="{{ group.avatarPath }}" />
                </ion-thumbnail>

                <div style="font-size: 1.5rem; font-weight: bold">
                  {{ group.label }}
                </div>
              </div>

              <ion-button size="small" (click)="addGroup(group)" fill="outline"
                >Ajouter</ion-button
              >
            </div>
          </ion-card-header>
          <ion-card-content>
            <ion-list lines="none">
              <ion-item
                *ngFor="let checkedFriend of group.checked_friends"
                class="animated slideInRight delay_11"
              >
                <ion-thumbnail
                  slot="start"
                  [ngClass]="{
                    kid: checkedFriend.dyspo === UserDyspoStatus.DYSPOWITHKIDS,
                    nokids: checkedFriend.dyspo === UserDyspoStatus.DYSPO,
                    nodyspo: checkedFriend.dyspo === UserDyspoStatus.NODYSPO,
                    'ion-thumbnail-friend': true
                  }"
                >
                  <img src="{{ checkedFriend.friend.userData?.avatarPath }}" />
                  <ion-badge
                    *ngIf="checkedFriend.agendaEvents.length > 0"
                    name="warning-outline"
                    color="danger"
                    class="thumbnail-badge"
                    >{{ checkedFriend.agendaEvents.length }}</ion-badge
                  >
                </ion-thumbnail>

                <div>
                  <div class="text-box">
                    {{ checkedFriend.friend.userData?.lastname }}
                    {{ checkedFriend.friend.userData?.firstname }}
                  </div>
                  <div *ngIf="checkedFriend.agendaEvents.length > 0">
                    <div *ngFor="let e of checkedFriend.agendaEvents">
                      <ion-text color="danger" style="font-size: 0.7rem"
                        >A un autre evenement a {{ e.start_time_formatted }}
                      </ion-text>
                    </div>
                  </div>
                </div>

                <ion-checkbox
                  [disabled]="checkedFriend.disable"
                  [(ngModel)]="checkedFriend.isChecked"
                  (ionChange)="onCheckedFriendChange($event)"
                  slot="end"
                ></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-list>
  </div>
</ion-content>
