<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end"> </ion-buttons>
    <ion-title>Amis</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()"> Enregistrer </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment
    mode="ios"
    [(ngModel)]="selectSegment"
    (ionChange)="segmentChanged($event)"
    style="z-index: 1000"
  >
    <ion-segment-button value="friends" class="segmentButton" color="light">
      <ion-icon name="person"></ion-icon>
      <ion-label>Mes amis</ion-label>
    </ion-segment-button>
    <ion-segment-button value="suggestions" color="light">
      <ion-icon name="person-add"></ion-icon>
      <ion-label>Mes groupes</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div
    *ngIf="selectSegment === friendSelectionType.FRIENDS"
    class="ion-no-margin"
    style="width: 100%"
  >
    <div
      id="contsainer-friends"
      *ngIf="friends && friends.length === 0"
      style="width: 100%; text-align: center"
    >
      <ion-icon
        name="person-outline"
        class="empty-icon-circle icon-large empty-icon-color"
        style="margin-top: 30px"
      ></ion-icon>
      <br />
      <strong class="capitalize">
        <ion-text style="color: rgb(100, 100, 100)"
          >Vous n'avez pas encore d'amis</ion-text
        >
      </strong>
    </div>
    <ion-list lines="none">
      <ion-item
        *ngFor="let checkedFriend of checkedFriends"
        class="animated slideInRight delay_11"
      >
        <ion-thumbnail
          slot="start"
          [ngClass]="{
            kid: checkedFriend.dyspo === UserDyspoStatus.DYSPOWITHKIDS,
            nokids: checkedFriend.dyspo === UserDyspoStatus.DYSPO,
            nodyspo: checkedFriend.dyspo === UserDyspoStatus.NODYSPO
          }"
        >
          <img src="{{ checkedFriend.friend.userData?.avatarPath }}" />
        </ion-thumbnail>

        <div class="text-box">
          {{ checkedFriend.friend.userData?.lastname }}
          {{ checkedFriend.friend.userData?.firstname }}
        </div>
        <ion-checkbox
          [disabled]="checkedFriend.disable"
          [(ngModel)]="checkedFriend.isChecked"
          (ionChange)="onCheckedFriendChange($event)"
          slot="end"
        ></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>

  <div
    *ngIf="selectSegment === friendSelectionType.GROUP"
    class="ion-no-margin"
    style="width: 100%"
  >
    <div
      id="contsainer-friends"
      *ngIf="friends && friends.length === 0"
      style="width: 100%; text-align: center"
    >
      <ion-icon
        name="person-outline"
        class="empty-icon-circle icon-large empty-icon-color"
        style="margin-top: 30px"
      ></ion-icon>
      <br />
      <strong class="capitalize">
        <ion-text style="color: rgb(100, 100, 100)"
          >Vous n'avez pas encore créé de groupe d'amis</ion-text
        >
      </strong>
    </div>
    <ion-list *ngIf="friendGroups && friendGroups.length > 0">
      <ion-item
        *ngFor="let checkedFriend of checkedFriends"
        class="animated slideInRight delay_11"
      >
        <ion-thumbnail slot="start">
          <img src="{{ checkedFriend.friend.userData?.avatarPath }}" />
        </ion-thumbnail>

        <div class="text-box">
          {{ checkedFriend.friend.userData?.lastname }}
          {{ checkedFriend.friend.userData?.firstname }}
        </div>
        <ion-checkbox
          [(ngModel)]="checkedFriend.isChecked"
          (ionChange)="onCheckedFriendChange($event)"
          slot="end"
        ></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
