.ion-thumbnail-friend {
  height: 70px;
  width: 70px;
  --border-radius: 50%;
  margin-right: 10px;
  padding: 5px;
  position: relative;
}

.ion-thumbnail-group {
  height: 90px;
  width: 90px;
  --border-radius: 50%;
  margin-right: 10px;
  padding: 5px;
}

.kid {
  border: 3px solid var(--text-dyspo-with-kids);
}
.nokids {
  border: 3px solid var(--text-dyspo);
}
.nodyspo {
  border: 3px solid var(--text-no-dyspo);
}

.thumbnail-badge {
  position: absolute;
  top: -5px; /* Ajustez cette valeur pour positionner verticalement */
  right: -5px; /* Ajustez cette valeur pour positionner horizontalement */
  font-size: 12px; /* Taille du texte du badge */
  width: 20px; /* Largeur du badge */
  height: 20px; /* Hauteur du badge */
  border-radius: 50%; /* Pour créer un badge circulaire */
  background-color: red; /* Couleur de fond du badge */
  color: white; /* Couleur du texte du badge */
  display: flex;
  align-items: center;
  justify-content: center;
}
