<ion-content class="bg_color">
  <div class="header-ct" *ngIf="isFriendMode">
    <div class="header">
      <ion-toolbar>
        <div
          slot="start"
          style="display: flex"
          class="ion-align-items-center thumbnail-friend"
        >
          <ion-button fill="clear" (click)="goBack()">
            <ion-icon
              name="close-outline"
              color="light"
              slot="icon-only"
            ></ion-icon>
          </ion-button>
          <ion-thumbnail
            slot="start"
            class="animate__animated animate__fadeInLeft"
          >
            <ion-img src="{{agendaFriend?.userData?.avatarPath}}"></ion-img>
          </ion-thumbnail>
        </div>

        <ion-title> <h1>{{agendaFriend?.userData?.firstname}}</h1></ion-title>
        <!-- <ion-buttons slot="end" >
          <ion-toggle
            color="secondary"
            labelPlacement="start"
            [enableOnOffLabels]="true"
            (ionChange)="onChangeMode($event)"
            >Edit</ion-toggle
          >
        </ion-buttons> -->
      </ion-toolbar>
    </div>
  </div>
  <div class="header-ct" *ngIf="!isFriendMode">
    <div class="header">
      <ion-toolbar>
        <ion-thumbnail
          slot="start"
          class="animate__animated animate__fadeInLeft"
        >
          <ion-img src="assets/agenda.png"></ion-img>
        </ion-thumbnail>

        <ion-title> <h1>Calendrier</h1></ion-title>
        <ion-buttons slot="end">
          <ion-toggle
            color="secondary"
            labelPlacement="start"
            [enableOnOffLabels]="true"
            (ionChange)="onChangeMode($event)"
            >Edit</ion-toggle
          >
        </ion-buttons>
      </ion-toolbar>
    </div>
  </div>
  <div class="shape"></div>
  <div class="container">
    <ion-chip *ngIf="my_info.with_kids" [outline]="true"
      ><div class="chip-evt bg-kid">&nbsp;</div>
      Kids</ion-chip
    >
    <ion-chip [outline]="true"
      ><div class="chip-evt bg-nokids">&nbsp;</div>
      Dyspo</ion-chip
    >
    <ion-chip [outline]="true"
      ><div class="chip-evt bg-nodyspo">&nbsp;</div>
      No Dyspo</ion-chip
    >
    <ion-chip [outline]="true"
      ><div class="chip-evt holidays">&nbsp;</div>
      Vacances</ion-chip
    >
  </div>

  <ion-calendar
    #mydiv
    [(ngModel)]="dateMulti"
    (change)="onChange($event)"
    (select)="onSelect($event)"
    (selectReadOnly)="onSelectReadOnly($event)"
    (createMonthEvent)="onCreateMonthEvent($event)"
    [type]="type"
    [options]="optionsMulti"
    [format]="'YYYY-MM-DD'"
    [readonly]="agendaMode === agendaModes.READONLY"
  ></ion-calendar>
  <div *ngIf="agendaMode === agendaModes.READONLY" style="padding-top: 5px">
    <ion-toolbar style="padding: 0px 6px">
      <div
        slot="start"
        style="display: flex; align-items: center; font-size: 1.2rem"
      >
        <ion-icon
          name="calendar-outline"
          slot="start"
          style="margin-right: 5px"
        ></ion-icon>
        <ion-text>{{selectedDateFormatted}}</ion-text>
      </div>
      <ion-button
        *ngIf="!isFriendMode && selectedDateMs"
        slot="end"
        fill="clear"
        (click)="openCreateEvent()"
      >
        <ion-icon name="add-circle-outline" slot="start"></ion-icon
        >Nouveau</ion-button
      >
    </ion-toolbar>

    <ion-list>
      <ion-item *ngIf="!eventsForDate || eventsForDate?.length === 0">
        <ion-icon name="time-outline" slot="start"></ion-icon>
        Pas d'evenement prévu
      </ion-item>
      <ion-item
        *ngFor="let agendaEvent of eventsForDate; let i=index "
        [button]="true"
        (click)="openEvent(agendaEvent)"
      >
        <div slot="start" style="font-size: 1.2rem">
          <div
            *ngIf="agendaEvent.start_date_day_of_year === agendaEvent.end_date_day_of_year"
          >
            {{agendaEvent.startISO | dayDateFormat}}
          </div>
          <div
            *ngIf="agendaEvent.start_date_day_of_year !== agendaEvent.end_date_day_of_year"
          >
            {{agendaEvent.startISO | dayDateFormat}} <br />
            {{agendaEvent.endISO | dayDateFormat}}
          </div>
        </div>
        <div>
          <div>
            {{agendaEvent.all_can_see_title ? agendaEvent.title : '*****'}}
          </div>
          <div
            *ngIf="agendaEvent.start_date_day_of_year === agendaEvent.end_date_day_of_year"
            style="font-size: 0.9rem; padding-left: 4px"
          >
            <ion-text color="medium"
              >{{agendaEvent.start_time_formatted}} -
              {{agendaEvent.end_time_formatted}}</ion-text
            >
          </div>
        </div>

        <ion-buttons
          slot="end"
          *ngIf="isFriendMode === false && agendaEvent.is_multi"
        >
          <ion-button color="primary" (click)="goToChat(agendaEvent, $event)">
            <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
    <ion-list> </ion-list>
  </div>

  <div *ngIf="agendaMode === agendaModes.EDIT" class="ion-padding">
    Vous êtes en mode édition
    <ion-button *ngIf="agendaSvc.isModified" (click)="saveAgenda()">
      Sauvegarder mon agenda
    </ion-button>
    <ion-button
      *ngIf="agendaSvc.isModified"
      color="danger"
      (click)="cancelAgenda()"
    >
      Annuler
    </ion-button>
  </div>
  <!-- <ion-fab
    *ngIf="agendaMode === agendaModes.READONLY"
    slot="fixed"
    horizontal="end"
    vertical="bottom"
  >
    <ion-fab-button (click)="addEvent()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>
